# Learning Python From Scratch!
With Chweya Matagaro

## Check the Python Version
<p><code>sys</code> is a built-in Python module that contains many system-specific parameters and functions, including the Python version in use.<ul>
</ul>Before using it, we must explictly import it.<ul>
</ul>Check the code below<p>

In [1]:
import sys
print(sys.version)

3.7.1 (default, Oct 28 2018, 08:39:03) [MSC v.1912 64 bit (AMD64)]

## Types of Cells
<p>Code cells: Allow you to enter programming commands<ul>
</ul>Markdown: Allows you to enter comments</p>

## Hashtags & HTML Formatting
<p>
    Use <code>#</code> Hashtags in code cells to make comments and guide users.<ul>
        </ul>For multi-line comments in code cells, you can use three quotes<ul>
</ul>HTML formatting in Markdown cells makes it easier to read comments</p>

In [2]:
#This is a comment, zero output but great for guidance

In [3]:
'''Sometimes your comments,
just need to dive a few lines down,
you feel me?'''

print("See, the comments don't appear")

See, the comments don't appear

## Hello World!
<p>Printing this string is the most common innitiation into programming.<ul>
    </ul>Create a code cell and type:
    <ul>
    <li><code>print('Hello World!')</code></li>
    <li><code>print("Hello World")</code></li>
</ul></p>

In [4]:
print("Hello World!")
print('Hello World')

Hello World!
Hello World

<p>Straightfoward right? Unless of course you got an error.<ul>
    </ul>Take note of capitalisation of <code>print</code> otherwise you will get a name error since python does not know what particular function you are calling<ul>
</ul><code>Hello world</code> is a string hence has to be put in either double or single quotation marks.<ul>
</ul>The openning quotation marks have to match the closing quotation marks otherwise a Synatax error</p>

## Errors in Python
<p><b>TypeError</b>: combining strings with digits<ul>
</ul><b>SyntaxError</b>: Not putting matching quotes,assigning a variable name that starts with a number, not closing a bracket<ul>
</ul><b>NameError</b>: Calling a variable that has not been defined, calling a function that does not exist in library e.g.capitalising a function code e.g. Print(....)<p>

## Getting Help on Python
<p>There are many options including:<ul>
   </ul>
   <li>Use the '<code>help()</code>' or '<code>?</code>' to access the documentation of a function</li>
   <li>To show attributes of an object, type the name of the object followed by a period '<code>.</code>' character then press Shift and Tab key</li>
   <li>Use the help menu to access online documentation</li>
   <li>Google errors</li>
   </ul><p>

In [5]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [6]:
#Note it generates a pop-up rather than printed output
len?

In [7]:
#Place a period infornt of function or object and press Shift and Tab
#Note it generates a pop-up rather than printed output
len.

SyntaxError: invalid syntax (2276191670.py, line 3)

# Variable Names
If you want to give a name to a variable, you must follow some strict rules:

The name of the variable must be composed of upper-case or lower-case letters, digits, and the character _ (underscore)

The name of the variable must begin with a letter;

The underscore character is a letter;

Upper- and lower-case letters are treated as different (a little differently than in the real world â€“ Alice and ALICE are the same first names, but in Python they are two different variable names, and consequently, two different variables);

The name of the variable must not be any of Python's reserved words: <code> ['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']</code>

## Assignment Operator
<p>
<code>=</code>: Assigns value<ul>
</ul><code>+=</code>: Increases the value of the variable by the value on the RHS<ul>
</ul><code>-=</code>: Deacreases the value of the variable by the value on the RHS<ul>
</ul><code>*=</code>: Multiplies the value of the variable by the value on the RHS<ul>
</ul><code>/=</code>: Divides the value of the variable by the value on the RHS
</p>

In [ ]:
x = 5
print("x = ", x)
x += 5
print("(x += 5)=", x)
x -=2
print("(x -=2)= ", x)
x *= 2
print("(x *= 2)=", x)
x /= 4
print('(x /= 4)=', x)

<em>i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)</em>

In [ ]:
#We can assign value to variables as shown below and perform operations on it
x=3
y=8
z=2*x+y+6
z

In [ ]:
#You can also assign values to several variables at once:
x,y,z,xz=4,15,2*x+y+6,"This is nifty"
print(x)
print(y)
print(z)
print(xz)

#This string will in many instances generate a name error if variables x and y had not been declared earlier.
#It will also generate a computationally incorrect answer since it recalls earlier declared variable values for x and y
#Therefore for variables that are dependent on each other are best done on separate code lines like this:
x,y,xz=4,15,"This is nifty"
z=2*x+y+6
print(x)
print(y)
print(z)
print(xz)
print(x,y,z,xz)

## Arthimetic Operators
<p><ul>
    </ul><code>+</code>: Addittion<ul>
    </ul><code>-</code>: Subtraction <ul>
    </ul><code>*</code>: Multiplication<ul>
    </ul><code>/</code>: Division<ul>
    </ul><code>%</code>: Remainder, allows us to generate the remainder part of a division<ul>
    </ul><code>//</code>: Quotient, allows us to generate the interger part of a division i.e. the quotient<ul>
    </ul><code>**</code>: To the power<ul>
    </ul></p>

In [ ]:
a = 4
b = 3
print('a + b =',a+b)   
print('a - b =',a-b) 
print('a * b =',a*b) 
print('a % b =',a%b)
print('a / b =',a/b)  
print('a // b =',a//b) 
print('a ** b =',a**b)

## Boolean States
<p>Boolean states are either True or False (take note of capitalisation)<ul>
    </ul><b>True</b> and <b>False</b> can be represented as intergers as either 1 or 0 or their corresponding floats<ul>
    </ul>Type casting of boolean states is possible. (We introduce type casting a few lines below)
    <p>

In [ ]:
print(bool(1))
print(bool(0))
print(int(True))
print(int(False))
print(float(True))
print(float(False))

## Comparison Operators
<p><ul>
    </ul>equal: <code>==</code><ul>
    </ul>not equal: <code>!=</code><ul>
    </ul>greater than: <code>></code><ul>
    </ul>less than: <code> <</code><ul>
    </ul>greater than or equal to: <code>>=</code><ul>
    </ul>less than or equal to: <code><=</code><ul>
    </ul></p>

In [ ]:
a = 10
b = 20

print('a > b  is',a>b)
print('a < b  is',a<b)
print('a == b  is',a==b)
print('a != b  is',a!=b)
print('a >= b  is',a>=b)
print('a <= b  is',a<=b)

Inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following table represents the order of the character:

For example, the ASCII code for ! is 21, while the ASCII code for + is 43. Therefore + is larger than ! as 43 is greater than 21.

Similarly, the value for A is 101, and the value for B is 102 therefore:

When there are multiple letters, the first letter takes precedence in ordering:
lower case "a" is greater than upper case "A"

In [ ]:
print("'B' > 'A'\t is\t",'B' > 'A')
print("'BA' > 'AB'\t is\t", 'BA' > 'AB')

## Logical Operators
<p> They act as conjunctions thus combining two arguments to form a single argument whose boolean state we can now infer.<ul>
    </ul>There are 3 logical operators in Python:<ul>
    <li><code>and</code>: To be true it needs both arguments to be true. To be false at least one arguments has to be false </li>
    <li><code>or</code>: To be true it needs at least one argument to be true. To be false both arguments must be false</li>
    <li><code>not</code>: If a statement is true, it returns a false, if false it returns a true. Mostly used in loops where a loop runs as long as a conditon is satisfied and breaks when it stops being satisfied and vice versa</li>
</ul>

In [ ]:
#Use of 'and'
x = 11
a = x>10 and x<20
print(a)

a = x<10 and x<20
print(a)

a = x>10 and x>20
print(a)

a = x<10 and x>20
print(a)

In [ ]:
#Use of 'or'
x = 11
a = x>10 or x<20
print(a)

a = x<10 or x<20
print(a)

a = x>10 or x>20
print(a)

a = x<10 or x>20
print(a)

In [ ]:
#Use of 'not'
x = 11
a =not x>10
print(a)

x = 11
a = not x<10
print(a)

a = not x==10
print(a)

## Bitwise operators
<p>
<code>&</code> requires exactly two 1s to provide 1 as the result;<ul>
</ul><code>|</code> requires at least one 1 to provide 1 as the result;<ul>
</ul><code>^</code> requires exactly one 1 to provide 1 as the result.<ul>
</ul>The arguments of these operators must be integers; we must not use floats here.
</p>

## Boolean String test
<p>
    They only work on strings:<ul>
        <li>isalpha()</li>
        <li>isalnum()</li>
        <li>isdigit()</li>
        <li>islower()</li>
        <li>isupper()</li>
        <li>istitle()</li>
        <li>startswith('')</li>
        <li>endswith('')</li></ul>
        </p>

In [ ]:
#Is string Alphabetical characters?
print("Python".isalpha())

In [ ]:
#is string alphanumeric?
print("Python".isalnum())
print("3".isalnum())
print("3rd".isalnum())

In [ ]:
#is string digits?
print("Python".isdigit())
print("3".isdigit())
print("3rd".isdigit())

In [ ]:
#Is string in lower case?
print("Python".islower())
print("python".islower())

In [ ]:
#Is string in upper case?
print("Python".isupper())
print("python".isupper())
print("PYTHON".isupper())

In [ ]:
# Is 1st letter of words in string in upper case?
print("Python 3.0.0 is Great".istitle())
print("Python 3.0.0 Is Great".istitle())

In [ ]:
#Starts with (note this is case sensitive)
print("Python".startswith("p"))
print("Python".startswith("P"))
print("Python".startswith("Pyt"))
print("Python".startswith("Pyo"))

In [ ]:
#Ends with (note this is case sensitive)
print("Python".endswith("n"))
print("Python".endswith("N"))
print("Python".endswith("hon"))
print("Python".endswith("HON"))

## Indexing
<p>Indexing allows Python to specify the positioning of individual elements or subsections of a variable or a string.<ul>
</ul>Python has two ways of indexing:<ul>
    <li>Positive Indexing:</li>
    <li>Negative Indexing:</li>
    </ul>
</p>

### Positive Indexing
<p>Lets examine a variable 'A':<ul>
    <li>The first character has an index 0</li>
    <li>The second character has an index 1</li>
    <li>:</li>
    <li>:</li>
    <li>The 'n'th character has an index 'n-1'</li>
    </ul>

### Negative Indexing
<p>Lets examine a variable 'A' with 'n' characters:<ul>
    <li>The last character has an index -1</li>
    <li>The second last character has an index -2</li>
    <li>:</li>
    <li>:</li>
    <li>The first character has an index '-n'</li>
    </ul>

### <code>len()</code> 
Function allows us to know the number of elements in a variable or string


### <code>A[i]</code>
This code allows us to determine the element or variable occupying the 'i'th index of avariable 'A'

In [ ]:
car="Fiat-SE"
print(car,'\n')  #\n is an escape sequence that adds an empty line

#len() Generates the number of characters in a variable (thats string in nature)
print(len(car),'\n')

#We can use positive indexing to access the variable occupying a particular index
print(car[0])
print(car[1])
print(car[2])
print(car[3])
print(car[4])
print(car[5])
print(car[6])

In [ ]:
#We can also use negative indexing to access the variable occupying a particular index
print(car[-7])
print(car[-6])
print(car[-5])
print(car[-4])
print(car[-3])
print(car[-2])
print(car[-1])

Later on we will learn about loop functions allowing us to run the previous two lines of code with less hassle

In [ ]:
#The function below uses a loop function to print the index and corresponding element
car="Fiat-SE"
for i in range(len(car)):
    print(i,car[i])

In [ ]:
#The function below uses a loop function to print the index and corresponding element
car="Fiat-SE"
for i in range(len(car)):
    print(-len(car)+i,car[-len(car)+i])

## <code>A.count('x')</code>
<p>
<code>A.count('x')</code> function counts the number of times the substring <code>'x'</code> appears in variable <code>A</code>
</p>

In [ ]:
car="Mercedes Benz"
print(car.count('e'))
print(car.count('a'))

###  <code>A.find('x')</code>, <code>A.index('x')</code> and <code>in</code>
<p>
    This two codes generate the index the substring <code>'x'</code> first appears in variable <code>A</code><ul>
        <li><code>A.find('x')</code></li>
        <li><code>A.index('x')</code></li>
        </ul><code>in</code> is a boolean test that checks if an element (on the LHS) is contained in the object on the RHS </p>

In [ ]:
car="Fiat SE"
print(len(car))
print(car.find("Fiat"))
print(car.find("t"))

In [ ]:
car="Fiat SE"
print(len(car))
print(car.index("Fiat"))
print(car.index("t"))

In [ ]:
car="Fiat SE"
'E' in car

### <code>A.replace(x,y)</code>
<p>
<code>A.replace(x,y)</code> function searches for <code>x</code> in variable <code>A</code>, if it find it it replaces it with <code>y</code> otherwise it leaves <code>A</code> unaffected.<ul>
</ul>Sensitive to capitalisation and use quotation marks if substring or variable is undefined
</p>

In [ ]:
car="Fiat SE Fiat SE"
print(len(car))
print(car.replace("cab", "Truck"))
print(car.replace("SE", "Truck"))
print(car.replace(car[9:13], "Boat"))

## Using Indexing to 'Slice' an Object

In [ ]:
#The function below uses a for loop function to print the index and corresponding element
#We will learn how to use the loop function later
car="Fiat SE"
for i in range(len(car)):
    print(i,car[i])

In [ ]:
car="Fiat-SE"
print (range(len(car)))

for i in range(len(car)):
    print(-i-1,car[-i-1])

### <code>car[::]</code>
<p>
    Generates the entire string
    <p/>

In [ ]:
car="Fiat-SE"
print(car[:])

### <code>car[a:]</code>
<p>
    Generates the substring of a varaiable:<ul>
        <li>starting with the 'a+1'st character ('a'th index)</li>
        <li>to the last character(-1th index)</li>
        </ul>
    <p/>

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(i,car[i])

print('\n')

car="Fiat SE"
print('car[2:]= ',car[2:])
print('car[3:]=',car[3:])
print('car[4:]=',car[4:])
print('car[5:]=',car[5:])

### <code>car[:b]</code>
<p>
    Generates the substring of a varaiable:<ul>
        <li>starting with the 1st character ('0'th index)</li>
        <li>to the 'b'the character ('b-1'th index)</li>
        </ul>
    </p>

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(i,car[i])

print('\n')

print('car[:2]=',car[:2])
print('car[:3]=',car[:3])
print('car[:4]=',car[:4])
print('car[:5]=',car[:5])
print('car[:6]=',car[:6])
print('car[:7]=',car[:7])

### <code>car[a:b]</code>
<p>
    Generates the substring of a varaiable:<ul>
        <li>starting with the 'a+1'st character ('a'th index)</li>
        <li>to the 'b'the character ('b-1'th index)</li>
        </ul>
    <p/>

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(i,car[i])

print('\n')

print('car[1:3]: ',car[1:3])
print('car[2:4]: ',car[2:4])
print('car[2:5]: ',car[2:5])
print('car[2:6]: ',car[2:6])
print('car[2:7]: ',car[2:7])

### <code>car[::k]</code>
<p>
    The function generates characters from the substring car[::]. It calls every 'k'th index, i.e.:<ul>
        <li>The '1'st character ('0'th index)</li>
        <li>The '1+k'st character ('k'th index)</li>
        <li>The '1+2k'st character ('2k'th index)</li>
        <li>The '1+3k'st character ('3k'th index)</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li></li></ul>
        The last output cannot have an index higher than the last index
</p>

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(i,car[i])

print('\n')

car="Fiat SE"
print('car[::1]=',car[::1])
print('car[::2]=',car[::2])
print('car[::3]=',car[::3])

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(-len(car)+i,car[-len(car)+i])

print('\n')

print(car[::-1])
print(car[::-2])
print(car[::-3])

### <code>car[a::k]</code>
<p>
    The function generates characters from the substring car[a:] in the following sequence:<ul>
        <li>The 'a+1'st character ('a'th index)</li>
        <li>The 'a+1+k'st character ('a+k'th index)</li>
        <li>The 'a+1+2k'st character ('a+2k'th index)</li>
        <li>The 'a+1+3k'st character ('a+3k'th index)</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>The last output cannot have an index higher than the last character</li>
        </ul>
    </p>

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(-len(car)+i,car[-len(car)+i])

print('\n')

print(car[2::1])
print(car[2::2])
print(car[2::3])

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(-i-1,car[-i-1])

print('\n')

print(car[2::-1])
print(car[2::-2])
print(car[2::-3])

### <code>car[:b:k]</code>
<p>
    The function generates characters from the substring car[a:b] in the following sequence:<ul>
        <li>The '1'st character ('0'th index)</li>
        <li>The '1+k'st character ('k'th index)</li>
        <li>The '1+2k'st character ('2k'th index)</li>
        <li>The '1+3k'st character ('3k'th index)</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>The last output cannot have an index higher than'b-1'th index</li>
        </ul>
    </p>

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(i,car[i])

print('\n')


print(car[:6:1])
print(car[:6:2])
print(car[:6:3])

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(-len(car)+i,car[-len(car)+i])

print('\n')

print(car[:-7:-1])
print(car[:-6:-2])

### <code>car[a:b:k]</code>
<p>
    The function generates characters from the substring car[a:b] in a sequence that skips k characters, i.e:<ul>
        <li>The 'a+1'st character ('a'th index)</li>
        <li>The 'a+1+k'st character ('a+k'th index)</li>
        <li>The 'a+1+2k'st character ('a+2k'th index)</li>
        <li>The 'a+1+3k'st character ('a+3k'th index)</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>The last output cannot have an index higher than'b-1'th index</li>
        </ul>
    </p>

In [ ]:
car="Fiat-SE"
print(car[1:6:1])
print(car[1:6:2])
print(car[1:6:3])

In [ ]:
car="Fiat-SE"
for i in range(len(car)):
    print(-len(car)+i,car[-len(car)+i])

print('\n')
print(car[-2:-7:-1])
print(car[-2:-7:-1])
print(car[-2:-7:-2])
print(car[-2:-7:-3])

## Escape Sequence
<p>Back slashes represent the beginning of escape sequences.<ul>
        <li><code>\n</code>: makes the words after it skip to the next line</li>
        <li><code>\t</code>: introduces a tab</li>
        <li><code>\\\</code>: introduces a single backslash</li>
        <li><code>\'</code>: allows us to use quotes in a sentence without it delimiting parts of a string</li>
        <li><code>\"</code>: allows us to use quotes in a sentence without it delimiting parts of a string</li>
</ul></p>

In [ ]:
print("England\nSouth Africa\nIndia")

In [ ]:
print("England\n South Africa\n India")

In [ ]:
#\n makes the words after it skip to the next line
print("Michael Jackson \n is the best")

#\t introduces a tab
print("Michael Jackson \t is the best")

#\\ introduces a single backslash
print("Michael Jackson \\ is the best")

In [ ]:
#\' allows us to use quotes in a sentence without it delimiting parts of a string
print('Michael Jackson\'s best album is Thriller')
print('\"What\'s that?\", isn\'t a specific question')

#\" allows us to use quotes in a sentence without it delimiting parts of a string
print('The presenter said, \"Thriller is thee best album ever!\"')

In [ ]:
#r at the begining allows us to use the backslash without introducing an escape sqequence
print(r"Michael Jackson \n is the best")
print(r"Michael Jackson \t is the best")
print(r"Michael Jackson \ is the best")
print(r"Michael Jackson \\ is the best")
print(r'Michael Jackson\'s best album is Thriller')
print(r'The presenter said, \"Thriller is thee best album ever!\"')

In [ ]:
#Double tabs can introduce headers
print('Name\t\tAge')
print('Kamau Ochieng','\t',20)

### end=" "
<p><code>end=" "</code> Allows for printing an output without necessarily going to a new line</p>

In [ ]:
#The end function allows for printing an output without necessarily going to a new line
print("Hello",end=" ")
print("mike")

print("Hello",end="*")
print("mike")

print("Hello",end=" \n")
print("mike")

### sep=" "
<p><code>sep=" "</code> When concatonating strings, the space in between them is replaced by the separator indicated in <code>sep=" "</code> </p>

In [ ]:
print("Hello Mike", "hey Trudy", sep="^")

## Combining Strings
<p>You can combine stings with either commas or the plus sign<ul>
    <li><code>,</code>: Commas allow us to combine strings with numbers without a type error arising and you don't have to leave spaces between words.</li>
    <li><code>+</code>: Plus sign allow us to combine strings but not strings with numbers. Unlike the comma sign, the plus sign does not intoduces spaces in between the combined strings</li>
    <li><code>*k</code>: Multiplication sign allow us to repeat strings k timeswithout leaving a space</li></ul>
    </p>

In [ ]:
student_name="Florence and Gale"
sentence1='Happy birthday to '+student_name+' who are both turning 20 years old.'
print(sentence1)
print("Happy birthday to",student_name,"who are both turning 20 years old.")
print("Hip hip! HURRAY!"*3)
print("Hip hip! HURRAY! "*3)

## Adjusting Parts of a String
<p><ul>
    <li><code>replace()</code>: <code>replace('x', 'y')</code> replaces all x with y when printing, it however does not alter the object itself, to alter the object we need to use an assignment operator.</li>
    <li><code>input()</code>: Allows us to insert a string into a string. Note, it always converts all variables inserted in it into strings</li>
    <li><code>{}.format{}</code>: Print formatting/String interpolation allows as to insert characters or variables into a string. We insert curly brackets where we want our data inserted and insert the data in the parenthesis</li>

In [ ]:
#Using replace() function
student_name="Florence and Gale"
print(student_name)
print(student_name.replace("Gale", "Stephanie"))
print(student_name)

#To enforce the change, use an assignement operator
student_name=student_name.replace("Gale", "Stephanie")
print(student_name)

In [ ]:
#Using input() function
print("enter small int")
small_int=input()

#Lets see the variable type of the input() function
print(small_int)
print(type(small_int))

#We can however type cast the value, for example:
small_int=int(small_int)
print(small_int)
print(type(small_int))

In [ ]:
#Using {}.format() function
employee_name="Bosire"
employee_code="001"

print("Hi my name is {}".format(employee_name))

#Using {}.format() function with multiple insertions
print("Hi my name is {} and my employee number is {}".format(employee_name,employee_code))


#For multiple insertions we can assign variables in the curly brackets
print("Hi my name is {x} and my employee number is {y}".format(x=employee_name,y=employee_code))

#By assignning variables in the curly brackets the order does not matter
print("Hi my name is {x} and my employee number is {y}".format(y=employee_code,x=employee_name))

## Changing Case of a String
<p><ul>
    <li><code>upper()</code>: Capitalises the whole string</li>
    <li><code>lower()</code>: Lower cases the whole string</li>
    <li><code>title()</code>: Capitalises the 1st letter of every word and lowering the rest</li>
    <li><code>swapcase()</code>: Swaps the case across the entire string </li>
    <li><code>capitalize()</code>: Capitalises the 1st letter of the string and lowers the rest</li>
</ul></p>

In [ ]:
#Change case of a string
student_name="Florence and Gale"
sentence=student_name+" are both 20 years old"
print(sentence)
print('upper():\t\t\t',sentence.upper())
print('lower():\t\t\t',sentence.lower())
print('title():\t\t\t',sentence.title(),'\n')
print('swapcase():\t\t\t',sentence.swapcase())
print('capitalize():\t\t\t',sentence.capitalize(),'\n')
print('replace Gale with Stephanie:\t',sentence.replace("Gale", "Stephanie"))

## Types of Variables
<p><ul>
    <li><b>Integers</b>: These are positive and negative whole numbers with no deciaml places</li>
    <li><b>Floats</b>: These are any positive or negative real numbers with at least one decimal place</li>
    <li><b>Long</b>: Tlong integers, they can also be represented in octal and hexadecimal</li>
    <li><b>Complex</b>: These are any numbers that include sqrt of -1</li>
    <li><b>Boolean</b>: These are two states variables:<ul>
        <li><b>True</b>: Can also take up a value of 1 as an interger or a float</li>
        <li><b>False</b>: Can also take up a value of 0 as an interger or a float</li></ul></li>
    <li><b>Strings</b>: They are delimitted by quotation marks</li>
    <li><b>Lists</b>:Elements are ordered (i.e., indexed) and changable</li>
    <li><b>Tuples</b>: Elements are ordered (i.e., indexed) and UNCHANGABLE</li>
    <li><b>Sets</b>:Elements are unordered and unindexed. It is changable</li>
    <li><b>Dictionaries</b>: Elements are paired with a key, the key acts as an index. It is changable</li>
    <li><b>Ranges</b>:These is an ordered set of numbers starting from the lower bound and increases with  equally spaced interger amounts until it reaches to atmost upper bound.</li></ul>
    <ul>
    </ul>Primarily, three types of brackets used in Python:<ul>
    <li> <code>()</code> parenthesis is used to define tuples, order of operations and function calls.</li>
    <li> <code>[]</code> square bracket is used to define mutable data types - lists, list comprehensions and for indexing/lookup/slicing.</li>
    <li><code>{}</code> curly brackets are used for dictionaries and sets.</li></ul>
   </p>

### <code>type()</code>
<p><code>type()</code> lets us know the type of object contained in the parenthesis</p>

In [ ]:
print(type(2017))
print(type(2_017))
print(type(-2017))
j=(-1)**0.5
print(type(2017+j))
print(type(20.17))

In [ ]:
#2017 can also be written as 2_017.
#This is like writing 2,017 in accounting format, however, commas in python have many other uses, we instead use the underscore
2_017-2017

In [ ]:
print(5e3)
print(5E3)
print(5e-3)
print(5E-3)
print(6.62607E-34)

In [ ]:
print (bin(11))

In [ ]:
print(type(True))
print(type(False))

In [ ]:
print(type("2017"))
print(type("2017A"))
print(type("2017+j"))
print(type("Lap"))

In [ ]:
print(type(['a','b','c']))
print(type(('a','b','c')))
print(type({'a','b','c'}))
print(type({'a':1,'b':2,'c':3}))
print(type(range(2010,2017)))

## Type Casting
<p>Type casting allows conversion of character types<ul>
    </ul>We can alter the variable type by equating it to its typecast self </p>

In [ ]:
#int(2.5) converts the number 2.5 to an intereger and so on and so forth
print(int(2.5))
print(float(120))
print(int('2'))
print(str(1))
print(str(2))
print(str(range(2010,2017)))

In [ ]:
#Altering a variable's type
x=2
print(type(x))
complex(x)
print(type(x))

#As you can see, we need to use an assignment operator
x=float(x)
print(type(x))

x=complex(x)
print(type(x))

In [ ]:
x=range(2010,2017)
print(type(x))

x=list(x)
print(type(x), x)

x=tuple(x)
print(type(x), x)

x=set(x)
print(type(x), x)

## Tuples
<p>Tuple are closed by parenthesis e.g. (a,b,c,d)<ul>
    </ul>Tuple can conatain strings, floats and/or intergers.<ul>
    </ul>Other objects such as lists, tuples, sets & dictionaries can be nestled in it.<ul>
    </ul>Tuples are immutable i.e. unchangable. This means you cannot use indexing to change values of a variable occupying an index </p>

In [ ]:
alp=('a','b','a','c',['f','d','g'],('c','e','a'))

#We can access specific indexes of a tuple including nestled objects and even slice them
print('alp[1]\t\t=',alp[1],)
print('alp[3:5]\t=',alp[3:5],'\n')

#We can access specific indexes of nestled objects
print('alp[4]\t\t=',alp[4])
print('alp[4][0]\t=',alp[4][0])
print('alp[4][1]\t=',alp[4][1])
print('alp[4][2]\t=',alp[4][2],'\n')

print('alp[5]\t\t=',alp[5])
print('alp[5][0]\t=',alp[5][0])
print('alp[5][1]\t=',alp[5][1])
print('alp[5][2]\t=',alp[5][2],'\n')

#We can call the first instance of an element using indexes
print('alp.index(2)\t=',alp[2])
print('alp.index(4)\t=',alp[4],'\n')

In [ ]:
#Tuples are immutable, i.e. cannot be changed
#They may reference the same data but changing one tuple does not affect other tuples referencing the exact same data
alp=('a','b','c','d')
alp_1=alp

print(alp)
print(alp_1)
print("\n")

alp=('g','z','j','k')
print(alp)
print(alp_1)

In [ ]:
#Tuples are immutable, you cannot use their index to alter the variable occupying that index
#Try and run the code below to see an error
'''alp=('a','b','c','d') 
alp[0]='z'
print(alp) '''

In [ ]:
#A list nestled inside a tuple can have its contents ultered by calling the index
alp=('a','b','a','c',['f','d','g'],('c','e','a'))
print(alp[4])

alp[4][:]=['a','b','x']
print(alp[4])

alp[4][1]='z'
print(alp[4])

### Sorting Tuples
<p>
    <code>sorted()</code>: Creates a new list that is in ascending order. Take note, the new object is a list not a tuple. You may therefore have to type cast.<ul>
        </ul><code>sorted(,reverse=True)</code> creates a new list that is ordered in descending order<ul>
    </ul>We can also use a key to determine the sorting order<ul>
    </ul></p>
</p>

In [ ]:
alp=('a','b','a','c','f','d','g','c','e','a')
print(alp)

alp_sorted=sorted(alp)

print(alp)
print(alp_sorted)

alp_sorted=tuple(alp_sorted)
print(alp_sorted)

In [ ]:
alp=('a','b','a','c','f','d')
print(alp)

alp_sorted=sorted(alp,reverse=True)

print(alp)
print(alp_sorted)

alp_sorted=tuple(alp_sorted)
print(alp_sorted)

In [ ]:
alp=('a','b','a','c','f','d',)
print('instances of a:',alp.count('a'))
print('instances of c:',alp.count('c'))

## Lists
<p>
    Lists are enclosed by square brackets [a,b,c,d]<ul>
    </ul>List like tuples can conatain strings, floats and intergers<ul>
    </ul>We can access specific indexes of a List<ul>
    </ul>List can also be empty
    </p>

In [ ]:
#Example of an empty list:
alp=[]
print(alp)

In [ ]:
#We can nestle tuples and lists within a list for example index 2 and 3
alp=['a','b',['c','d'],('e','f'),'g']

print(alp,'\n')

print(alp[2])
print(alp[3],'\n')

#We can use indexing to access objects in a list including nestled objects
print(alp[1],'\n')

print(alp[2][0])
print(alp[2][1],'\n')

print(alp[3][0])
print(alp[3][1],'\n')

In [ ]:
#We can use alter an objects in a list including nestled objects
alp=['a','b',['c','d'],('e','f'),'g']
print('alp=',alp)
alp[0]='z'
print('alp=',alp)

### Aliasing Lists
<p>Aliasing: When we set a list <code>B=A</code>, then both <code>A</code> & <code>B</code> are referrencing the same list.
When there is aliasing, changing an element in A will affect list B as well and vice versa

In [ ]:
A=['English', 'P.E', 'Science', 'Mathematics']
B=A
print('A:',A)
print('B:',B)

print('\n Lets change P.E. to Kung FU in A:')
A[2]='Kung FU'
print('A:',A)
print('B:',B)

print('\n Lets change Kung FU to Taekwondo in B:')
B[2]='Taekwondo'
print('A:',A)
print('B:',B)

### Cloning Lists
<p>Cloning: When we set a list B=A[:], B will create a separate list that is exactly the same with list A<ul>
    </ul>Variable A & B are now referecing separate lists. We can therfore change an element in A withiut affecting B and vice versa.</p>

In [ ]:
A=['English', 'P.E', 'Science', 'Mathematics']
B=A[:]
print('A:',A)
print('B:',B)

print('\n Lets change P.E. to Kung FU in A:')
A[2]='Kung FU'
print('A:',A)
print('B:',B)

print('\n Lets change Kung FU to Taekwondo in B:')
B[2]='Taekwondo'
print('A:',A)
print('B:',B)

### Adding elements to a list 
<p>
    Using the:<ul>
        <li><code>+</code> concatenate</li>
        <li><code>*k</code> repeats the list k times</li>
        <li><code>.extend(e,f,g)</code></li>
        <li><code>.append(e,f,g)</code></li>
        <li><code>.insert(i,x)(e,f,g)</code></li>
        </ul>Use <code>+</code> when you want to add individual elements of a list to the list. However, it cannot be used to add a tuple to a list<ul>
    </ul>Use <code>*k</code> when you want to output elements of a list or a tuple k times. It however does not affect the list itself.<ul>
    </ul>Use <code>.extend()</code> when you want to add individual elements of a list or a tuple to the list.<ul>
    </ul>Use <code>.append()</code> to add lists or tuples as a nestled element.<ul>
    </ul>Use <code>.insert(i,'x')</code> inserts a single string 'x' into a list such that it has index i and pushes elements occupying higher indexes an index down.<ul>
    </ul></p>

In [ ]:
alp=['a','b','d','f']
print(alp)
print(len(alp))
      
alp = alp+ ['g','h']+ ['i','j']
print("+\t\t",alp)


alp=['a','b','d','f']
alp.extend(['g','h'])
alp.extend(('i','j'))
print(".extend()\t",alp)


alp=['a','b','d','f']
alp.append(['g','h'])
alp.append(('i','j'))
print(".append()\t",alp)


alp=['a','b','d','f']
alp.insert(5,['g','h'])
alp.insert(6,('i','j'))
print(".insert(6,'')\t",alp)


alp=['a','b','d','f']
alp.insert(2,['g','h'])
alp.insert(3,('i','j'))
print(".insert(2,'')\t",alp)

In [ ]:
alp=['a','b','d','f']
print("alp\t\t=\t\t\t",alp)
print("alp*2\t\t=\t\t\t",alp*2)
print("alp\t\t=\t\t\t",alp)

alp=alp*2
print("alp=alp*2\t:\t\t\t",alp)

### Removing elements from a list 
<p>
    Using the:<ul>
        <li><code>my_list.pop()</code>:Calls the last element of a list and deletes it</li>
        <li><code>my_list.pop(i)</code>: Calls the <code>i</code>th index of a list and deletes it</li>
        <li><code>del(my_list[i])</code>: Deletes the <code>i</code>th index of a list</li>      
        <li><code>my_list.remove("x")</code>: Searches for the first instance of string 'x' and delets its.</li></ul>
        </p>

In [ ]:
alp=['a','b','c','d']
n=len(alp)
print('alp\t\t\t\t=',alp)


for i in range(n):
    print('alp.pop()\t\t\t=',alp.pop())
    print('for pop number',i+1,', alp\t\t=',alp )

An empty list evaluates as a false hence can be used to terminate a loop

In [ ]:
alp=['a','b','c','d']
n=len(alp)
print('alp\t\t\t=',alp)


for i in range(n):
    alp.pop()

print('after 4 pops, alp\t=',alp)
print('bool(alp)\t\t=',bool(alp))
print('int(bool(alp))\t\t=',int(bool(alp)))

In [ ]:
alp=['a','b','c','d']
print('alp\t\t=',alp,'\n')


print('alp.pop(1)\t=',alp.pop(1))
print('alp\t\t=',alp,'\n')

print('alp.pop(1)\t=',alp.pop(1))
print('alp\t\t=',alp,'\n')

In [ ]:
alp=['a','b','c','d']
print('alp\t\t\t=',alp)

del(alp[2])
print('After del(alp[2]), alp\t=',alp)


del(alp[2])
print('After del(alp[2]), alp\t=',alp)

In [ ]:
dogs = ["Lab Poodle", "Pug", "Poodle", "Poodle", "Pug", "Poodle"]
print(dogs)



while "Poodle" in dogs:          #'while' is a loop function that we will get to learn later.
    dogs.remove("Poodle")
    print(dogs)

## Converting a list into a string: <code>x.join(A)</code>
<p><code>x.join(A)</code> uses variable <code>x</code> to join elements in list <code>A</code></p>

In [ ]:
alphabet=['a','b','c','d']
print(alphabet,'\n')


x=""
print(x.join(alphabet))
print(alphabet,'\n')


x=" "
print(x.join(alphabet))
print(alphabet,'\n')


x="8"
print(x.join(alphabet))
print(alphabet,'\n')


x="-"
print(x.join(alphabet))
print(alphabet)

## <code>.split()</code>
<p>
    We can convert a string into a list by using a the .split() function<ul>
        </ul>The split function searches for the delimeter we have specified in the parentheisies and breaks every element of the string  in between the delimeters into memebrs of a list.
    </p>

In [ ]:
#The split function below uses the comma as a delimeter
"A,B,C,D".split(",")

In [ ]:
"A,B,C,D".split("B")

In [ ]:
"ABCD".split("B")

###  <code>.index('x')</code> and <code>in</code>
<p>
    <code>.index('x')</code> generates the index the substring <code>'x'</code> first appears in the LHS object <code>A</code><ul>
</ul><code>in</code> is a boolean test that checks if an element (on the LHS) is contained in the object on the RHS </p>

In [ ]:
dogs = ["Lab Poodle", "Pug", "Poodle", "Poodle", "Pug", "Poodle"]


print(dogs.index("Pug"))
print(dogs.index("Poodle"))

In [ ]:
dogs = ["Lab Poodle", "Pug", "Poodle", "Poodle", "Pug", "Poodle"]
print('e' in dogs)
print('Pug' in dogs)
print('Poodle' in dogs)

### Sorting Lists
<p>
    <code>sorted()</code>: Creates a new list that is in ascending order<ul>
        </ul><code>sorted(,reverse=True)</code> creates a new list that is ordered in descending order<ul>
    </ul>We can also use a key to determine the sorting order<ul>
    </ul></p>
<p>
    <code>sort()</code> rearranges the elements of the existing list in ascending order<ul>
        </ul><code>sort(reverse=True)</code> rearranges the elements of the existing list in descending order.</p>

#### <code>sorted()</code>

In [ ]:
Exam_Marks=[80,85,55,60,25,75]
ascending_exam_marks=sorted(Exam_Marks)
descending_exam_marks=sorted(Exam_Marks,reverse=True)

print('ascending:',ascending_exam_marks)
print('descending:',descending_exam_marks)
print('unordered:',Exam_Marks)

In [ ]:
#After learning functions using "def" and "lambda" you may want to revisit this code
#Key is the basis of sorting the items in the list
my_list=[2,1,0,-1,-2]
my_list1=sorted(my_list,key=lambda item: item**2)
print(my_list1)
my_list2=sorted(my_list,key=lambda item: item**2,reverse=True)
print(my_list2)

#### <code>sort()</code>

In [ ]:
Exam_marks=[80,85,55,60,25,75]

Exam_marks.sort()
print('Ascending:',Exam_marks)

In [ ]:
Exam_marks=[80,85,55,60,25,75]

Exam_marks.sort(reverse=True)
print('Descending:',Exam_marks)

In [ ]:
#After learning functions using "def" and "lambda" you may want to revisit this code
#Key is the basis of sorting the items in the list
my_list3=[2,1,0,-1,-2]
my_list3.sort(key=lambda item: item**2)
print(my_list3)

my_list3.sort(key=lambda item: item**2,reverse=True)
print(my_list3)

## Reversing Order of Lists: <code>A.reverse()</code>
<code>A.reverse()</code> Reorders the elements of the existing list from last to first and so on

In [ ]:
alphabet=['a','b','c','d']

print(alphabet)
alphabet.reverse()
print(alphabet)

In [ ]:
alphabet=['a','b','c','d']

print(alphabet)
print(alphabet[::-1])
print(alphabet)

In [ ]:
name='Kevin'

print(name[::-1])
print(name[::-2])

In [ ]:
Exam_marks=[80,85,55,60,25,75]
Exam_marks.reverse()

print('reverse order of elements:',Exam_marks)

### Summming Elements of a list

In [ ]:
Exam_marks=[80,85,55,60,25,75]
sum(Exam_marks)

## Dictionaries
<p>They contain entries encolsed in curly brackets <code>{}</code>, with each entry separated by commas <code>,</code><ul>
    </ul>Each entry comes as a pair: A key and a value, separated by a collon <code>:</code>.<ul>
    </ul>Keys are unique, and immutable. They behave like indexes in lists and tuples hence we can access a value based on its key<ul>
    </ul>Values are mutable and are not necessarily unique</p>

In [ ]:
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
print(topic_marks)
print(len(topic_marks))

In [ ]:
#Using the keys as indexes
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
print(topic_marks)
print('english score is ', topic_marks['eng'])

In [ ]:
#Using the keys as indexes and the get function
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
print(topic_marks)
print('english score is ', topic_marks.get('eng'))

In [ ]:
#Checking for existence of keys (cannot be used to search values)
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
print(topic_marks)
print('geog'in topic_marks)
print('math'in topic_marks)
print(80 in topic_marks)

In [ ]:
#Generating a list of all keys in a dictionary
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
print(topic_marks)
print(topic_marks.keys())

In [ ]:
#Generating a list of all values in a dictionary(values can be searched)
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
print(topic_marks)
print(topic_marks.values())

In [ ]:
#Generating a list of all key-value pairs in a dictionary, in tuples nestled in a list
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
print(topic_marks)
print(topic_marks.items())

In [ ]:
#Deleting entries in a Dictionary
#del function
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
del(topic_marks['eng'])
print(topic_marks)

#pop funciton with a key
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
print(topic_marks.pop('kis'))
print(topic_marks)

#Emptying a dictionary using the clear() function
topic_marks.clear()
print(topic_marks)

In [ ]:
#Adding entries into Dictionaries
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
topic_marks['agric']=75
print(topic_marks)
print('\n')  #Skip a line

#update() function
#Adding entries into Dictionaries using the update() function
topic_marks.update({'Geog':65})
print(topic_marks)

#Modifying an entries into Dictionaries using the update() function
topic_marks.update({'Geog':85})
print(topic_marks)
print('\n')  #Skip a line

#Deleting last entry into a Dictionary using thepopitem() function
topic_marks.popitem()
print(topic_marks)

#### <code>copy()</code>
<p>
You cannot copy a dictionary simply by typing dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.
You can use the <code>copy()</code> method to make a copy of the dictionary.</p>

In [ ]:
# Create a dictionary
year_sales= {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# Make a copy of dictionary
year_sales_copy= year_sales.copy()
print(year_sales_copy)

## Sets
<p>
    Sets are created by enclosing elements in curly brackets <code>{}</code><ul>
</ul>They only contain unique elelments hence they automatically remove duplicates.<ul>
</ul>Unlike tuples & lists, they are unordered i.e. elements are not indexed.<ul>
</ul>We can convert a list into a set by typecasting: <code>set(list)</code>.
</p>

In [ ]:
cartoons_list=['Tom & Jerry', "Penguins", 'Dora', 'Tom & Jerry']

#We can convert the above list into a set by using type casting
cartoons_set=set(cartoons_list)
print(cartoons_set)
print(type(cartoons_set))

### Comparing Sets
<p>
    The following codes help us to compare data in two or more sets. We are interested in:<ul>
        <li>Intersection:<code>set_A & Set_B</code></li>
        <li>Union:<code>set_A.union(Set_B)</code></li>
        <li>Check if Set_A is a subset of Set_B:<code>set_A.issubset(Set_B)</code></li>
        <li>Check if Set_A is a superset to Set_B:<code>set_A.issuperset(Set_B)</code></li>
        <li>Generates all elements of a set outside of intersection <code>set_A & set_B</code>:<code>set_A.difference(set_B)</code></li>
        </ul>
        </p>

In [ ]:
#Intersection of 2 sets can be obtained by using '&'
cartoons_A={'Tom & Jerry', "Penguins", 'Dora', 'Spider Man'}
cartoons_B={'Tom & Jerry', "Penguins", 'Batman', 'Flash'}
cartoons_universe=cartoons_A.union(cartoons_B)
cartoons_C=cartoons_A&cartoons_B

print('cartoons_A\t\t\t\t\t=\t',cartoons_A)
print('cartoons_B\t\t\t\t\t=\t',cartoons_B,'\n')

print('cartoons_A&cartoons_B\t\t\t\t=\t',cartoons_C)
print('cartoons_A.union(cartoons_B)\t\t\t=\t',cartoons_universe,'\n') #Union of 2 sets can be obtained by using '.union'

print('cartoons_universe.issubset(cartoons_A)\t\t=\t', cartoons_universe.issubset(cartoons_A))
print('cartoons_A.issubset(cartoons_universe)\t\t=\t', cartoons_A.issubset(cartoons_universe),'\n')

print('cartoons_universe.issuperset(cartoons_A)\t=\t', cartoons_universe.issuperset(cartoons_A))
print('cartoons_A.issuperset(cartoons_universe)\t=\t', cartoons_A.issuperset(cartoons_universe),'\n')

print('cartoons_A.difference(cartoons_B)\t\t=\t', cartoons_A.difference(cartoons_B))
print('cartoons_A.difference(cartoons_universe)\t=\t', cartoons_A.difference(cartoons_universe))

### Set Operations
<p>
   <code>'' in </code>:Check whether the objects enclosed in the parenthesis is in the set<ul>
</ul><code>.add()</code>:Adds to the set the objects enclosed in the parenthesis<ul>
</ul><code>remove()</code>:Removes from the set the objects enclosed in the parenthesis<ul>
 </ul><code>pop()</code>:Calls and deletes the first item in a set
 </p>

In [ ]:
#Check if an object is a member of a set
cartoons_set={'Tom & Jerry', 'Penguins', 'Dora', 'Tom & Jerry'}
print(cartoons_set)
print('Dora'in cartoons_set)
print('Batman'in cartoons_set)

In [ ]:
#Add an object into a set
cartoons_set={'Tom & Jerry', 'Penguins', 'Dora', 'Tom & Jerry'}
print(cartoons_set)

cartoons_set.add('Batman')
print(cartoons_set)

cartoons_set.add('Dora') #Since Dora is already in the set, the set remains unchanged
print(cartoons_set)

In [ ]:
#Delete elements of a set
cartoons_set={'Tom & Jerry', 'Penguins', 'Dora', 'Tom & Jerry','Batman'}
print(cartoons_set)

cartoons_set.remove('Dora')
print(cartoons_set)

In [ ]:
cartoons_set={'Tom & Jerry', 'Penguins', 'Dora', 'Tom & Jerry','Batman'}
print(cartoons_set.pop())
print(cartoons_set)

print(cartoons_set.pop())
print(cartoons_set)

print(cartoons_set.pop())
print(cartoons_set)

print(cartoons_set.pop())
print(cartoons_set)

# Range
<p>These is an ordered set of numbers starting from the lower bound and increases with equally spaced interger amounts until it reaches to atmost upper bound. Can take in one, two or three arguments:<ul>
    <li><code>range(n)</code>: generates n numbers staring from zero, increasing by 1 upto and including n-1</li>
    <li><code>range(k,k+n)</code>: generates n numbers staring from k, increasing by 1 upto and including k+n-1</li>
    <li><code>range(k,k+n,i)</code>: generates quotient of n/i numbers staring from k, increasing by i upto utmost k+n-1</li></ul>Take note, k,n and i must be intergers. If i is negative then n needs to be negative as well so as not to generate an error.
    </p>

In [ ]:
#range(n) if n is a +ve interger the function outputs a list containig n intergers starting from zero upto interger n-1
numbers=range(5)
print(numbers)
print(list(numbers))
print(numbers[0], numbers[1], numbers[2], numbers[3], numbers[4])

In [ ]:
#range(a,b) if a & b are intergers and a<b, the function outputs a list containig b-a intergers starting from a upto b-1
numbers=range(10,15)
print(numbers)
print(list(numbers))
print(numbers[0], numbers[1], numbers[2], numbers[3], numbers[4])

In [ ]:
#range(a,b,c) if a<b, the code outputs a list of intergers between a and b that are of the form a+kc with k being an interger
numbers=range(-10,11,2)
print(numbers)
print(list(numbers))
print(numbers[0], numbers[1], numbers[2], numbers[3], numbers[4])

In [ ]:
#range(a,b,c) if a<b, the code outputs a list of intergers between a and b that are of the form a+kc with k being an interger
numbers=range(11,-10,-2)
print(numbers)
print(list(numbers))
print(numbers[0], numbers[1], numbers[2], numbers[3], numbers[4])

# If, Else, Elif, Pass
<p> It checks the boolean state of the '<code>if</code>' statement. If it is <code>True</code>, it runs it, if not it will go to the next statement. If there is no succedding statement to an <code>if</code> statement, then there is no output in relation to the <code>if</code> statement with a '<code>false</code>' statement.<ul>
    </ul>The next statement can be either an <code>elif</code> or an <code>else</code> statement.<ul>
    <li>An <code>elif</code> statement is similar to an <code>if</code> statement. If it is <code>True</code>, it runs it, if not it will go to the next statement which again can be either an an <code>elif</code> or an <code>else</code> statement</li>
    <li>An <code>else</code> statement runs if all the previous statements (<code>if</code> & <code>elif</code>s) are <code>False</code>. </li></ul><ul>
    </ul>The <code>pass</code> statement allows you to close the <code>if</code>, <code>elif</code> or <code>else</code> functions without returning an output.<code></code>
    </p>

In [ ]:
release_year=2017

if release_year<1980:
    print("Released in", release_year, ", way before the 80's." )
elif release_year>=1980 and release_year<1990:
    print("Released in", release_year, ", the 80's was the golden era of music.")
elif release_year>=1990 and release_year<2000:
    print("Released in", release_year, "the 90's is when black music truly matured")
else:
    pass

In [ ]:
#You can nestle an if statement within an existing loop
release_year=1995

if release_year>=1980 and release_year<2000:
    if release_year>=1980 and release_year<1990:
        print("Released in", release_year, ", the 80's was the golden era of music.")
    else:
        print("Released in", release_year, "the 90's is when black music truly matured")
elif release_year<1980:
     print("Released in", release_year, ", way before the 80's." )
else:
    pass

In [ ]:
answer=""
answer=input("Motor cycles have 2 wheels, True or False? ")
answer=answer.title()

while not(answer=='True'or answer=='False'):
    answer=input("Try and again, input either 'True' or 'False'")
    answer=answer.title()

print(answer,type(answer))  

if answer=='True':
    print("You are Correct")
else:
    print("You are Wrong")

In [ ]:
x = 2
y = "6" 

# get_diff takes an int and a str
def get_diff(xint, ystr):
    return int(ystr)-xint
    

if y.isdigit() == False:
    print('"y" is not an integer string')
elif get_diff(x,y) == 0:
    print('x equal to y')
else:
    print('x is NOT equal to y')

In [ ]:
price_per_kg=20.0
purchase=input('Enter weight of desired purchase in kgs ')

if type(float(purchase))!=float:
    print("Enter weight of desired purchase in digits only")
elif float(purchase)<1:
    print('Sorry, your desired purchase of', purchase, 'kgs of cheese is below our minimum order of 1kg.\nWould you like to change your order to more than 1kg?')
elif float(purchase)>100:
    print('Sorry, your desired purchase of', purchase, 'kgs of cheese is more than our current stock of 100kgs.\nWould you like to change your order to 100kgs?')
else:
    print('The cost of',purchase,'kgs of cheese is $', float(purchase)*price_per_kg)

In [ ]:
price_per_kg=20.0
purchase=input('You can make an order for cheese between 1kg and 100kgs, How many kgs do you want? Enter in digits:')
    
while not(purchase.isdigit() and float(purchase)>=1 and float(purchase)<=100):
    if not purchase.isdigit():
        print('Kindly input your weight in digits')
        purchase=input()
    else:
        print('Kindly make an order between 1kg and 100kgs')
        purchase=input()

purchase=float(purchase)
print('The cost of',purchase,'kgs of cheese is $', float(purchase)*price_per_kg)

In [ ]:
price_per_kg=20.0
purchase=input('Enter weight of desired purchase in kgs in digits only ')

if float(purchase)<1:
    print('Sorry, your desired purchase of', purchase, 'kgs of cheese is below our minimum order of 1kg.\nWould you like to change your order tom more than 1kg?')
elif float(purchase)>100:
          print('Sorry, your desired purchase of', purchase, 'kgs of cheese is more than our current stock of 100kgs.\nWould you like to change your order to 100kgs?')
elif float(purchase)>1 and float(purchase)<100:
    print('The cost of',purchase,'kgs of cheese is $', float(purchase)*price_per_kg)
else:
    print("Enter weight of desired purchase in digits only")

# For Loops
<p>They run a sequence of operations a set number of times, i.e. '<b>for</b> x times run an operation<ul>
    </ul><code>enumerate</code> allows you to generate an index and corresponding element
    </p>

In [ ]:
#Prints elements in the list
#Uses range function to determine number of iterations needed to accomplish
A=['a','b','c','d','e']
for i in range(len(A)):
    print(i, A[i])

In [ ]:
#Prints elements in the list
A=['a','b','c','d','e']
for a in A:
    print(a)

In [ ]:
#Prints index & elements in the list as tuples
A=['a','b','c','d','e']
for a in enumerate(A):
    print(type(a),a)

In [ ]:
A=['a','b','c','d','e']
for a in enumerate(A):
    print(a)

In [ ]:
#Prints elements in a list
A=['a','b','c','d','e']
for i, a in enumerate(A):
    print(a)

In [ ]:
#Prints index and corresponding element
A=[1,2,3,4,5]
for i, a in enumerate(A):
    print(i, a)

In [ ]:
#Prints index and corresponding element in tuples
A=[1,2,3,4,5]
for i in enumerate(A):
    print(i)

## List Comprehension vs For Loops
<p>
    Since we apply for loops on list very often, Python has a shortcut called list comprehension</p>

In [ ]:
#For Loops
x = [1,2,3,4]

out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
#List Comprehension
x = [1,2,3,4]

[item**2 for item in x]

In [ ]:
#For loops
#We have a pool of cars and the list below indicates the tank levels

old_car_fuel_level=[0.00,0.50,0.75,0.25,0.10,0.20]

#We are refuelling all vehicles to a level of 1
#We first create two empty lists for new fuel levels and refuelling requirement

new_car_fuel_level=[]
car_refuelling_requirement=[]

#We then use the extend() function to add elements to our empty lists
for i in range(len(old_car_fuel_level)):
    new_car_fuel_level.extend([1.0])
    car_refuelling_requirement.extend([new_car_fuel_level[i]-old_car_fuel_level[i]])


print('Initial fuel levels:\t',old_car_fuel_level)
print('Re-fueling requirement:\t',car_refuelling_requirement)
print('New fuel levels:\t',new_car_fuel_level)

In [ ]:
#List Comprhension
#We have a pool of cars and the list below indicates the tank levels

old_car_fuel_level=[0.00,0.50,0.75,0.25,0.10,0.20]

#We are refuelling all vehicles to a level of 1
new_car_fuel_level=[1 for level in old_car_fuel_level]
car_refuelling_Level=[new_car_fuel_level[i]-old_car_fuel_level[i] for i in range(len(new_car_fuel_level))]

print('Initial fuel levels:\t',old_car_fuel_level)
print('Re-fueling requirement:\t',car_refuelling_Level)
print('New fuel levels:\t',new_car_fuel_level)

# While Loops
The loop runs as long us a condition is met. Because of this they are capable of running for perpetuity.
Such a loop can only be broken by the condition not being met or by including a <code>break</code> function in the code.

You can also include an <code>else</code> statement for when the while becomes false.

In [ ]:
squares=['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares=[]

i=0
while (squares[i]=='orange'):
    new_squares.extend([squares[i]])
    i+=1

print(new_squares)

In [ ]:
while True:
    print('write forever, unless there is a "break"')
    break

In [ ]:
#While loops
car_fuel_level=[0.0,0.5,0.75,4,0.05,0.2,0.3]
car_fuel_level.sort()

print(sum(car_fuel_level),car_fuel_level)

total_car_fuel_level=sum(car_fuel_level)
fuel_reserves=3.0
number_of_cars=len(car_fuel_level)

desired_car_fuel_level=(total_car_fuel_level+fuel_reserves)/number_of_cars


fueling_requirement=[]

for i in range(len(car_fuel_level)):
    fueling_requirement.extend([max(desired_car_fuel_level-car_fuel_level[i],0)])


print('fueling_requirement:',sum(fueling_requirement),':',fueling_requirement)


while fuel_reserves>0:
    for i in range(len(car_fuel_level)):
        if fueling_requirement[i]>=fuel_reserves or i==len(car_fuel_level)-1:
            car_fuel_level[i]+=fuel_reserves
            fuel_reserves=0 
        else:
            car_fuel_level[i]+=fueling_requirement[i]
            fuel_reserves-=fueling_requirement[i]

print(sum(car_fuel_level),car_fuel_level)

In [ ]:
#While loops
car_fuel_level=[0.0,0.5,0.75,4,0.05,0.2,0.3]
car_fuel_level.sort()

print(sum(car_fuel_level),car_fuel_level)

total_car_fuel_level=sum(car_fuel_level)
fuel_reserves=3.0
number_of_cars=len(car_fuel_level)

desired_car_fuel_level=(total_car_fuel_level+fuel_reserves)/number_of_cars


fueling_requirement=[max(desired_car_fuel_level-car_fuel_level[i],0) for i in range(len(car_fuel_level))]

print('fueling_requirement:',sum(fueling_requirement),':',fueling_requirement)


while fuel_reserves>0:
    for i in range(len(car_fuel_level)):
        if fueling_requirement[i]>=fuel_reserves or i==len(car_fuel_level)-1:
            car_fuel_level[i]+=fuel_reserves
            fuel_reserves=0 
        else:
            car_fuel_level[i]+=fueling_requirement[i]
            fuel_reserves-=fueling_requirement[i]

print(sum(car_fuel_level),car_fuel_level)

# Creating Functions
<p>
    We use 'def' to create functions. Once we have created a function. We set the inputs of the function.<ul>
</ul>The function cannot start with a number<ul>
</ul>You can document/add comments to a function by using tripple quotes<ul>
</ul>To display function documentation use the help() function
</p>

In [ ]:
#Lets create a function with y as the output and x as the input. f(x) is the function
# y=f(x)=x+5

def f(x):
    """y=f(x)=x+5"""
    y=x+5
    print('x=',x,',y=x+5=',y)
    return y

y_1=f(5)
y_2=f(10)
y_3=f(15)

help(f)

In [ ]:
f

In [ ]:
#The functions can take up multiple inputs
# z=f(x,y)=a+b*x+c*y

def f(x,y):
    """"z=f(x,y)=a+bx+cy"""
    z=5+3*x+2.5*y
    print('x=',x,',y=',y,',z=5+3x+2.5y=',z)
    return z

z_0=f(0,0)
z_1=f(1,0)
z_2=f(0,1)
z_2=f(3,5)

help(f)

In [ ]:
#The function below does not take in any input, hence does not require the 'return' function
menu="fish, ugali, prawns and sukuma wiki"
def birthday_diet():
    print('Happy birthday to Florence and Gale, the birthday menu includes: '+menu+'.')
birthday_diet()

In [ ]:
#The input is provided within the function thus return function is not needed
def add_num(x = 11):
    print(x + x)
add_num()

In [ ]:
def add_num(x = 10):
    print(x, x)
    
add_num()

In [ ]:
def amplify(message):
    tripple=3*message 
    return tripple

full_instruction=amplify('Run!')
print(full_instruction)

In [ ]:
def half_value(value):
    half=value/2
    print('half of',value, 'is', half)
    return half

half_1=half_value(42.0)
print(half_1)

In [ ]:
def make_schedule(period1, period2):
    schedule = ("[1st] " + period1.title() + ", [2nd] " + period2.title())
    return schedule

schedule_1= make_schedule("mathematics", "history")
print("SCHEDULE:", schedule_1)

In [8]:
def fish_store(fish):
    price=price_list[fish.lower()]
    return price

price_list={'tuna':80, 'nile perch':10, 'sardine':50}
fish=input('Enter fish name ')
fish_price=fish_store(fish.lower())
print('The price of '+ fish.lower()+ ' is $'+str(fish_price))

print('nile' in price_list.keys())

Enter fish name tuna
The price of tuna is $80
False

In [9]:
report=[]

def add_report(report):
    if sales.lower()=='quit':
        total=sum(report)
        return total
    else:
        pass

while True:
    sales=input('enter purchase')
    
    if sales.isdigit()==True:
        report+=[int(sales)]
    
    elif sales.lower()=='quit':
        client_total=add_report(report)
        print(report)
        print(client_total)
        break
    
    else:
        pass

enter purchase25
enter purchase30
enter purchasequit
[25, 30]
55

In [10]:
report=[]

def add_report(report):
    if sales.lower()=='quit':
        total=sum(report)
        return total
    else:
        pass

while True:
    sales=input('enter purchase')
    
    if sales.isdigit()==True:
        report+=[int(sales)]
    
    elif sales.lower()=='quit':
        while True:
            invoice_type=input('Enter either \'All\' or \'Total\'' )
            if invoice_type.lower()=='all':
                print("Items")
                for i in report:
                    print(i)
                break
            elif invoice_type.lower()=='total':
                break
            else:
                pass
                
        client_total=add_report(report)
        print('Total Purchase: ',client_total)
        break
    
    else:
        pass

enter purchase25
enter purchase32
enter purchasequit
Enter either 'All' or 'Total'all
Items
25
32
Total Purchase:  57

In [11]:
def str_analysis(str):
    if str.isalnum()==False:
        print('You have inputed','multiple character types')
    elif str.isalpha()==True:
        print('Your input', 'is all alphabetical')
    elif str.isdigit()==True:
        str=int(str)
        if str>100:
            print('Your input is a', 'big number')
        else:
            print('Your input is a', 'small number')
    else:
        pass

while True:
    str=input('Enter either a word or an interger: ')
    if str=="":
        str=input('Enter either a word or an interger: ')
    else:
        str_1=str_analysis(str)
        break

Enter either a word or an interger: jk
Your input is all alphabetical

In [12]:
a=1

def add(b):
    return a+b

c=add(10)
print(c)

11

In [13]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [14]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

### `*args`

- *args in function definitions in python are used to pass n number of arguments to a function i.e. there is no need to define the number of arguments at the time of creating the function. 

- Syntax: Use the symbol * to take in n number of arguments. It is often used with the word 'args', however, we can use any other  word. 

- For example, we want to make a multiply function that takes any number of arguments and is able to multiply them all together. It can be done using *args.

In [15]:
# * indicates that number of arguments can be taken
def Multiple(*args):  
    for parameter in args:  
        print (parameter)


# Call the function
Multiple("Lets","learn","Python","for","Data","Science")

Lets
learn
Python
for
Data
Science

### ` **kwargs`

- A keyword argument is where you provide a name to the variable as you pass it into the function. For example, func('Sex'=Female) 
- The special syntax **kwargs in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is that the double star allows us to pass through keyword arguments (and any number of them). We can use any other name instead of kwargs. 
- One can think of the kwargs as being a dictionary that maps each keyword to the value that we pass alongside it.

In [16]:
def function(**kwargs):
    for a,b in kwargs.items():
        print(a,"==",b)

# Call the function
a=function(A = "First letter", B = "Second letter", C = "Thirs letter")

A == First letter
B == Second letter
C == Thirs letter

In [17]:
def func(x):
    return lambda y: (x + y + 1)

def func1(x):
    return lambda y : (func(x)(x)+y+1)

print(func1(3)(1))

9

Lambda

# List Comprehensions, Lambda, Map and Filter

In [18]:
x = [1,2,3,4,5,6]

out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16, 25, 36]

In [19]:
out1=[item**2 for item in x]
print(out1)

out1a=list(map(lambda item:item**2,x))
print(out1a)

[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]

In [20]:
out2=[item for item in x if item%2==0]
print(out2)

out2a=list(filter(lambda item:item%2==0,x))
print(out2a)

[2, 4, 6]
[2, 4, 6]

In [21]:
out3=[item**3 for item in x if item%2==0]
print(out3)

out3a=list(map(lambda item:item**3,list(filter(lambda item:item%2==0,x))))
print(out3a)

[8, 64, 216]
[8, 64, 216]

In [22]:
#Obtain the minimum among two numbers
min_value = (lambda x, y: x if x < y else y)
min_value(34, 78)

34

In [23]:
#Check whether two strings are equal
result = (lambda x, y: 'True' if x == y else 'False')
result("Data", "DaTa")

'False'

In [24]:
# Iteration using list
list_a = [30, 35, 40]
list_b = [12, 5, 70]
  
print(list(map(lambda x, y: x +2*y, list_a, list_b)))

[54, 45, 180]

In [25]:
#Use lambda expression to mutiply every element in list x by 3
#The map() code takes in a function (in this case lambda expression) and applies it through every element of a list 
x=[1,2,3,4,5]
y=list(map(lambda var: var*3,x))
print(y)

[3, 6, 9, 12, 15]

In [26]:
#Use lambda expression to generate even numbers
#The filter() code uses a boolean function to generate elements from a list that generate True
z=list(filter(lambda var:var%2==0,x))
z

[2, 4]

In [27]:
A= list(range(5))
B = map(lambda x: (x * x)+1, A)
print(list(B))

[1, 2, 5, 10, 17]

In [28]:
def calculateSquare(n):
    return n*n
numbers = (1, 2, 3, 4)
result = list(map(calculateSquare, numbers))
print(result)

[1, 4, 9, 16]

In [29]:
def filterdata(x):
    if x>5:
        return x

result = filter(filterdata,(1,2,6))
print(list(result))

[6]

In [30]:
lambda_func = lambda x: x * 2
numbers = [1, 2, 3]
map_list = list(map(lambda_func, numbers))
print(map_list)

[2, 4, 6]