# Learning Python From Scratch!
With Chweya Matagaro

## Types of Cells
<p>Code cells: Allow you to enter programming commands<ul>
</ul>Markdown: Allows you to enter comments</p>

Hashtags & HTML Formatting
<p>
    Use Hashtags for comments and guiding users.<ul>
</ul>HTML formatting in Markdown cells makes it easier to read comments</p>

In [ ]:
#This is a comment, zero output but great for guidance

## Check the Python Version
<p><code>sys</code> is a built-in Python module that contains many system-specific parameters and functions, including the Python version in use.<ul>
</ul>Before using it, we must explictly import it.<ul>
</ul>Check the code below<p>

In [ ]:
import sys
print(sys.version)

## Hello World!
<p>Printing this string is the most common innitiation into programming.<ul>
    </ul>Create a code cell and type:
    <ul>
    <li><code>print('Hello World!')</code></li>
    <li><code>print("Hello World")</code></li>
</ul>Straightfoward right?</p>

In [ ]:
print("Hello World")
print('Hello World')

<p>Take note of capitalisation of <code>print</code> otherwise you will get a name error since python does not know what particular function you are calling<ul>
</ul><code>Hello world</code> is a string hence has to be put in either double or single quotation marks.<ul>
</ul>The openning quotation marks have to match the closing quotation marks otherwise a Synatax error</p>

## Types of Variables
<p><ul>
    <li>Strings: They are delimitted by quotation marks</li>
    <li>Integers: These are positive and negative whole numbers with no deciaml places</li>
    <li>Floats: These are any positive or negative real numbers with at least one decimal place</li>
    <li>Boolean: These are two states variables:<ul>
        <li>True: Can also take up a value of 1 as an interger or a float</li>
        <li>False: Can also take up a value of 0 as an interger or a float</li></ul></li>
    <li>Lists:Allows us to </li>
    <li>Tuples:</li>
    <li>Sets:</li>
    <li>Dictionaries:</li>
    <li>The <code>type()</code> function lets us know the type of object contained in the parenthesis</li>
    
</ul></p>

In [ ]:
print(type("2017"))
print(type("2017A"))
print(type("Lap"))

In [ ]:
print(type(2017))
print(type(-2017))
print(type(20.17))

In [ ]:
print(type(True))
print(type(False))

In [ ]:
print(type(['a','b','c']))
print(type(('a','b','c')))
print(type({'a','b','c'}))
print(type({'a':1,'b':2,'c':3}))

## Type Casting

In [ ]:
#Type casting allows conversion of character types
#int(2.5) converts the number 2.5 to an intereger and so on and so forth
print(int(2.5))
print(float(120))
print(int('2'))
print(str(1))
print(str(2))

In [ ]:
#Boolean states are either True or False (take note of capitalisation)
#True and False can be represented as intergers as either 1 or 0 or their corresponding floats
#Type casting of boolean states is possible
print(bool(1))
print(bool(0))
print(int(True))
print(int(False))
print(float(True))
print(float(False))

In [ ]:
#The double slash allows us to generate the interger part of a division
print(250/6)
print(250//6)

In [ ]:
#We can assign value to variables as shown below and perform operations on it
x=3
y=8
z=2*x+y+6
z

<p><ul>
</ul></p>

## Errors in Python
<p>TypeError: combining strings with digits<ul>
</ul>SyntaxError: Not putting matching quotes,assigning a variable name that starts with a number, not closing a bracket<ul>
</ul>NameError: Calling a variable that has not been defined, calling a function that does not exist in library e.g.capitalising a function code e.g. Print(....)<p>

## Escape Sequence
<p>Back slashes represent the beginning of escape sequences.<ul>
        <li><code>\n</code>: makes the words after it skip to the next line</li>
        <li><code>\t</code>: introduces a tab</li>
        <li><code>\\</code>: introduces a single backslash</li>
        <li><code>\'</code>: allows us to use quotes in a sentence without it delimiting parts of a string</li>
        <li><code>\"</code>: allows us to use quotes in a sentence without it delimiting parts of a string</li>
    
</ul><code>r</code> before a string allows us to use a backslash <code>\</code>without innitating an escape squence
</p>

In [ ]:
#\n makes the words after it skip to the next line
print("Michael Jackson \n is the best")

#\t introduces a tab
print("Michael Jackson \t is the best")

#\\ introduces a single backslash
print("Michael Jackson \\ is the best")

In [ ]:
#\' allows us to use quotes in a sentence without it delimiting parts of a string
print('Michael Jackson\'s best album is Thriller')

#\" allows us to use quotes in a sentence without it delimiting parts of a string
print('The presenter said, \"Thriller is thee best album ever!\"')

In [ ]:
#r at the begining allows us to use the backslash without introducing an escape sqequence
print(r"Michael Jackson \n is the best")
print(r"Michael Jackson \t is the best")
print(r"Michael Jackson \ is the best")
print(r"Michael Jackson \\ is the best")
print(r'Michael Jackson\'s best album is Thriller')
print(r'The presenter said, \"Thriller is thee best album ever!\"')
print("Michael Jackson\n"r" \n is the best")

In [ ]:
#Double tabs can introduce headers
print('Name\t\tAge')
print('Kamau Ochieng','\t',20)

## Indexing
<p>Indexing allows Python to specify the positioning of individual elements or subsections of a variable or a string.<ul>
</ul>Python has two ways of indexing:<ul>
    <li>Positive Indexing:</li>
    <li>Negative Indexing:</li>
    </ul>
</p>

### Positive Indexing
<p>Lets examine a variable 'A':<ul>
    <li>The first character has an index 0</li>
    <li>The second character has an index 1</li>
    <li>:</li>
    <li>:</li>
    <li>The 'n'th character has an index 'n-1'</li>
    </ul>

### Negative Indexing
<p>Lets examine a variable 'A' with 'n' characters:<ul>
    <li>The last character has an index -1</li>
    <li>The second last character has an index -2</li>
    <li>:</li>
    <li>:</li>
    <li>The first character has an index '-n'</li>
    </ul>

### <code>len()</code> 
Function allows us to know the number of elements in a variable or string


### <code>A[i]</code>
This code allows us to determine the element or variable occupying the 'i'th index of avariable 'A'

In [ ]:
#Lets assign the variable "car" the string Mercedes Benz
car="Mercedes Benz"
print(car)

#Len() Generates the number of characters in a variable (thats string in nature)
print(len(car))

In [ ]:
#car[0] Generates the 1st characters of a variable(index 0)
#car[1] Generates the 2nd characters of a variable(index 1)
#car[12] Generates the 13th characters of a variable(index 12)
car="Mercedes Benz"
print(len(car))
print(car[0])
print(car[1])
print(car[12])

In [ ]:
#car[-1] Generates the last characters of a variable
#car[-2] Generates the 2nd last characters of a variable
#car[-13] Generates the 13th last last characters of a variable (in our case the 1st character)
car="Mercedes Benz"
print(car[-1])
print(car[-2])
print(car[-13])

In [ ]:
#The function below uses a loop function to print the index and corresponding element
#We will learn how to use the loop function later
car="Mercedes Benz"
for i in range(len(car)):
    print(i,car[i])

In [ ]:
#The function below uses a loop function to print the index and corresponding element
#We will learn how to use the loop function later
car="Mercedes"

for i in range(len(car)):
    print(-len(car)+i,car[-len(car)+i])

In [ ]:
#The function below uses a loop function to print the index and corresponding element
#We will learn how to use the loop function later
car="Mercedes"

for i in range(len(car)):
    print(-i-1,car[-i-1])

## Slicing
Slicing allows you to generate a sub-string from a string

### <code>car[a:b]</code>
<p>
    Generates the substring of a varaiable:<ul>
        <li>starting with the 'a+1'st character ('a'th index)</li>
        <li>to the 'b'the character ('b-1'th index)</li>
        </ul>
    <p/>

In [ ]:
car="Mercedes Benz"
print(car[9:12])
print(car[9:13])

### <code>car[a:b:k]</code>
<p>
    The function generates characters from the substring car[a:b] in the following sequence:<ul>
        <li>The 'a+1'st character ('a'th index)</li>
        <li>The 'a+1+k'st character ('a+k'th index)</li>
        <li>The 'a+1+2k'st character ('a+2k'th index)</li>
        <li>The 'a+1+3k'st character ('a+3k'th index)</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>The last output cannot have an index higher than'b-1'th index</li>
        </ul>
    <p/>

In [ ]:
car="Mercedes Benz"
print(car[2:10:1])
print(car[2:10:2])
print(car[2:10:3])

In [ ]:
car="Mercedes Benz"
print(car[-3:-13:-1])
print(car[-3:-12:-1])
print(car[-3:-13:-2])
print(car[-3:-13:-3])

### <code>car[a:]</code>
<p>
    Generates the substring of a varaiable:<ul>
        <li>starting with the 'a+1'st character ('a'th index)</li>
        <li>to the last character(-1th index)</li>
        </ul>
    <p/>

In [ ]:
car="Mercedes Benz"
print(car[9:])
print(car[5:])

### <code>car[a::k]</code>
<p>
    The function generates characters from the substring car[a:] in the following sequence:<ul>
        <li>The 'a+1'st character ('a'th index)</li>
        <li>The 'a+1+k'st character ('a+k'th index)</li>
        <li>The 'a+1+2k'st character ('a+2k'th index)</li>
        <li>The 'a+1+3k'st character ('a+3k'th index)</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>The last output cannot have an index higher than the last character</li>
        </ul>
    <p/>

In [ ]:
car="Mercedes Benz"
print(car[2::1])
print(car[2::2])
print(car[2::3])

In [ ]:
car="Mercedes Benz"
print(car[4::-1])
print(car[4::-2])
print(car[4::-3])

### <code>car[:b]</code>
<p>
    Generates the substring of a varaiable:<ul>
        <li>starting with the 1st character ('0'th index)</li>
        <li>to the 'b'the character ('b-1'th index)</li>
        </ul>
    <p/>

In [ ]:
car="Mercedes Benz"
print(car[:9])
print(car[:4])

### <code>car[:b:k]</code>
<p>
    The function generates characters from the substring car[a:b] in the following sequence:<ul>
        <li>The '1'st character ('0'th index)</li>
        <li>The '1+k'st character ('k'th index)</li>
        <li>The '1+2k'st character ('2k'th index)</li>
        <li>The '1+3k'st character ('3k'th index)</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>The last output cannot have an index higher than'b-1'th index</li>
        </ul>
    <p/>

In [ ]:
car="Mercedes Benz"
print(car[:10:1])
print(car[:10:2])
print(car[:10:3])

In [ ]:
car="Mercedes Benz"
print(car[:-14:-1])
print(car[:-14:-3])

### <code>car[::]</code>
<p>
    Generates the entire string
    <p/>

In [ ]:
car="Mercedes Benz"
print(car[:])

### <code>car[::K]</code>
<p>
    The function generates characters from the substring car[::] in the following sequence:<ul>
        <li>The '1'st character ('0'th index)</li>
        <li>The '1+k'st character ('k'th index)</li>
        <li>The '1+2k'st character ('2k'th index)</li>
        <li>The '1+3k'st character ('3k'th index)</li>
        <li>.</li>
        <li>.</li>
        <li>.</li>
        <li>The last output cannot have an index higher than the last index</li>
        </ul>
</p>

In [ ]:
car="Mercedes Benz"
print(car[::1])
print(car[::2])
print(car[::3])

In [ ]:
car="Mercedes Benz"
print(car[::-1])
print(car[::-2])
print(car[::-3])

## String Functions
<p>
    https://www.w3schools.com/python/python_ref_string.asp<ul>
</ul>https://www.w3schools.com/python/python_ref_functions.asp<ul>
</ul>https://www.w3schools.com/python/python_ref_list.asp<ul>
</ul>https://www.w3schools.com/python/python_ref_dictionary.asp<ul>
</ul>https://www.w3schools.com/python/python_ref_tuple.asp<ul>
</ul>https://www.w3schools.com/python/python_ref_set.asp<ul>
</ul>https://www.w3schools.com/python/python_ref_keywords.asp<ul>
</ul>https://www.w3schools.com/python/python_operators.asp<ul>
</ul><ul>
</ul>
</ul></p>

In [28]:
"\u00B2"

'²'

## <code>A.replace(x,y)</code>
<p>
<code>A.replace(x,y)</code> function searches for <code>x</code> in variable <code>A</code>, if it find it it replaces it with <code>y</code> otherwise it leaves <code>A</code> unaffected.<ul>
</ul>Sensitive to capitalisation and use quotation marks if substring or variable is undefined
</p>

In [ ]:
car="Mercedes Benz"
print(len(car))
print(car.replace("cab", "Truck"))
print(car.replace("Benz", "Truck"))
print(car.replace(car[9:13], "Boat"))

## <code>A.find('x')</code>
<p>
<code>A.find('x')</code> function generates the index the substring <code>'x'</code> first appears in variable <code>A</code>
</p>

In [ ]:
#.find() Generates the index the substring first appears in our variable, (character number=index+1)
car="Mercedes Benz"
print(len(car))
print(car.find("Benz"))
print(car.find("es"))

## <code>A.count('x')</code>
<p>
<code>A.count('x')</code> function counts the number of times the substring <code>'x'</code> appears in variable <code>A</code>
</p>

In [ ]:
car="Mercedes Benz"
print(car.count('e'))
print(car.count('a'))

In [ ]:
#n*a multiplies a string 'a' n times
car="Mercedes Benz"
print(3*car)
print(car*3)
#Space
print("\n")
print(3*(car+" "))
print((car+" ")*3)

## Formating Case and Replacing parts of a String

In [ ]:
#Change case of a string
sentence=student_name+" are both 20 years old"
print(sentence)
print('upper():\t\t\t',sentence.upper())
print('lower():\t\t\t',sentence.lower())
print('title():\t\t\t',sentence.title(),'\n')
print('swapcase():\t\t\t',sentence.swapcase())
print('capitalize():\t\t\t',sentence.capitalize())
print('replace Gale with Stephanie:\t',sentence.replace("Gale", "Stephanie"))

In [ ]:
#Combine strings using comma instead of plus sign. Note with commas you do not have to leave spaces between words
#With commas you can combine strings with numbers without a type error arising
sentence1='Happy birthday to',student_name,'who are both turning 20 years old.'
print('Happy birthday to',student_name,'who are both turning 20 years old.')
print(sentence1)
sentence1

## Input Function

In [ ]:
#input() always converts all variables into strings
print("enter small int")
small_int=input()
print(small_int)
print(type(small_int))

In [ ]:
small_int1=input("enter small int1: ")
print(small_int1)
print(int(float(small_int1)))

In [ ]:
#input: Florence and Gale
student_name=input("enter student name ")
print("Hi "+student_name)

# Comparison Operators
#equal: ==
#not equal: !=
#greater than: >
#less than: <
#greater than or equal to: >=
#less than or equal to: <=

In [ ]:
#Boolean string test: only works on strings

#Is string Alphabetical characters
print("Python".isalpha())

In [ ]:
#is string alphanumeric
print("Python".isalnum())
print("3".isalnum())
print("3rd".isalnum())

In [ ]:
#is string digits
print("Python".isdigit())
print("3".isdigit())
print("3rd".isdigit())

In [ ]:
#Case of string lower case
print("Python".islower())
print("python".islower())
print("Python is Great".istitle())
print("Python Is Great".istitle())

In [ ]:
#Starts with (note this is case sensitive)
print("Python".startswith("p"))
print("Python".startswith("P"))
print("Python".startswith("Pyt"))
print("Python".startswith("Pyo"))

In [ ]:
#Ends with (note this is case sensitive)
print("Python".endswith("n"))
print("Python".endswith("N"))
print("Python".endswith("hon"))
print("Python".endswith("HON"))

In [ ]:
print(sentence)
print(sentence1)
print("gale".lower() in sentence.lower())

In [ ]:
#input: milk, dairy, peanuts, oysters
menu=input("What have you eaten in the last 24 Hours?")
print('It is','dairy'.lower() in menu.lower(),'that "'+menu.lower()+'" contains dairy')
print('It is','nuts'.lower() in menu.lower(),'that "'+menu.lower()+'" contains nuts')
print('It is','seafood'.lower() in menu.lower(),'that "'+menu.lower()+'" contains seafood')
print('It is','chocolate'.lower() in menu.lower(),'that "'+menu.lower()+'" contains chocolate')

In [ ]:
"hello" < "Hello"

Inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following table represents the order of the character:

For example, the ASCII code for ! is 21, while the ASCII code for + is 43. Therefore + is larger than ! as 43 is greater than 21.

Similarly, the value for A is 101, and the value for B is 102 therefore:

When there are multiple letters, the first letter takes precedence in ordering:
lower case "a" is greater than upper case "A"

In [ ]:
# Compare characters
print('B' > 'A')
print('BA' > 'AB')

# Tuples

In [ ]:
#Tuple are closed by parenthesis(a,b,c,d)
#Tuple can conatain strings, floats and intergers
exam_marks=(0.7,0.8,0.45,0.25,(0.1,0.5),0.67)

#We can access specific indexes of a tuple
print(len(exam_marks))
print(exam_marks[0])
print(exam_marks[1])

#Space
print("\n")
#We can nestle a tuple within a Tuple for example index four is a tuple within our main tuple
print(exam_marks[4])
print(exam_marks[4][0])
print(exam_marks[4][1])

#Space
print("\n")
#We sort the elemets within a tuple
exam_marks=(0.7,0.8,0.45,0.25,0.1,0.5,0.67)
print(sorted(exam_marks))

In [ ]:
#We can slice a tuple using their indexing
exam_marks=(0.7,0.8,0.45,0.25,(0.1,0.5),0.67)
print(exam_marks[1:3])
print(exam_marks[1:4])
print(exam_marks[1:5])
print("\n")
#Tuples are immutable, i.e. cannot be changed
#They may reference the same data but changing one tuple does not affect other tuples referencing the exact same data
exam_marks1=exam_marks
print(exam_marks1)
print("\n")
exam_marks=(0.0,0.8,0.45,0.25,(0.1,0.5),0.67)
print(exam_marks)
print(exam_marks1)

# Lists

In [ ]:
#Lists are enclosed by square brackets [a,b,c,d]
#List like tuples can conatain strings, floats and intergers
#We can access specific indexes of a List
#We can nestle tuples and lists within a list for example index 2 and 4
CAT_marks=[0.7,0.8,['english',0.25],0.5,(0.1,0.5),0.67]
print(CAT_marks)
print(CAT_marks[2])
print(CAT_marks[4])

In [ ]:
#We can add elements to a list by using the addition function or the .extend(e,f,g)
CAT_marks=[0.7,0.8,['english',0.25],0.5,(0.1,0.5),0.67]
CAT_marks=CAT_marks+['pop',10]+['corn',11]
print(CAT_marks)

CAT_marks=[0.7,0.8,['english',0.25],0.5,(0.1,0.5),0.67]
CAT_marks.extend(['pop',10])
CAT_marks.extend(('corn',11))
print(CAT_marks)

In [ ]:
#We can add elements to a list in the form of tuples or list by using the addition function or the .append(e,f,g)
CAT_marks=[0.7,0.8,['english',0.25],0.5,(0.1,0.5),0.67]
CAT_marks=CAT_marks+[['pop',10]]+[('corn',11)]
print(CAT_marks)

CAT_marks=[0.7,0.8,['english',0.25],0.5,(0.1,0.5),0.67]
CAT_marks.append(['pop',10])
CAT_marks.append(('corn',11))
print(CAT_marks)

In [53]:
#We can change the elements of a list
CAT_marks=[0.7,0.8,['english',0.25],0.5,(0.1,0.5),0.67]
CAT_marks[0]='pension'
print(CAT_marks)

#We can delete the elements of a list by using their index number
CAT_marks=[0.7,0.8,['english',0.25],0.5,(0.1,0.5),0.67]
print(CAT_marks)
print(CAT_marks[2])
del CAT_marks[2]
print(CAT_marks)

#We can insert an element in a list
#The .insert(i,x) function inserts the varaibale 'x' in list 1 and it occupies index i in the list
CAT_marks=[0.7,0.8,['english',0.25],0.5,(0.1,0.5),0.67]
CAT_marks.insert(1,'Welding')
print(CAT_marks)

['pension', 0.8, ['english', 0.25], 0.5, (0.1, 0.5), 0.67]
[0.7, 0.8, ['english', 0.25], 0.5, (0.1, 0.5), 0.67]
['english', 0.25]
[0.7, 0.8, 0.5, (0.1, 0.5), 0.67]
[0.7, 'Welding', 0.8, ['english', 0.25], 0.5, (0.1, 0.5), 0.67]

In [ ]:
#We can convert a string into a list by using a the .split() function
#The split function searches for the delimeter we have specified and breaks every element of the string  in between the delimeters into memebrs of a list
#The split function below uses the comma as a delimeter
"A,B,C,D".split(",")

# Aliasing Lists

In [ ]:
#Aliasing: When we set a list B=A, then both A & B are referrencing the same list.
#When there is aliasing, changing an element in A will affect list B as well and vice versa
A=['English', 'P.E', 'Science', 'Mathematics']
B=A
print(A)
print(B)
A[2]='Kung FU'
print(A)
print(B)
B[2]='Taekwondo'
print(A)
print(B)

# Cloning Lists

In [ ]:
#Cloning: When we set a list B=A[:], B will create a separate list that is exactly the same with list A
#Variable A & B are now referecing separate lists. We can therfore change an element in A withiut affecting B and vice versa
A=['English', 'P.E', 'Science', 'Mathematics']
B=A[:]
print(A)
print(B)
A[2]='Kung FU'
print(A)
print(B)
B[2]='Taekwondo'
print(A)
print(B)

# Sorting Lists: Sorted()
Sorted() creates a new list that is ordered in either ascending or descending order

In [ ]:
Exam_Marks=[80,85,55,60,25,75]
ascending_exam_marks=sorted(Exam_Marks)
descending_exam_marks=sorted(Exam_Marks,reverse=True)

print('ascending:',ascending_exam_marks)
print('descending:',descending_exam_marks)

# Sorting Lists: Sort()
Sort() rearranges the elements of the existing list in either ascending or descending order

In [ ]:
Exam_marks=[80,85,55,60,25,75]
Exam_marks.sort()

print('Ascending:',Exam_marks)

In [ ]:
Exam_marks=[80,85,55,60,25,75]
Exam_marks.sort(reverse=True)

print('Descending:',Exam_marks)

In [ ]:
Exam_marks=[80,85,55,60,25,75]
Exam_marks.reverse()

print('reverse order of elements:',Exam_marks)

# Summming Elements of a list

In [ ]:
Exam_marks=[80,85,55,60,25,75]
sum(Exam_marks)

# Sets

In [ ]:
#Sets are created by enclosing elements in curly brackets
#They only contain unique elelments hence they automatically remove duplicates
#Unlike tuples & lists, they are unordered i.e. elements are not indexed
cartoons_list=['Tom & Jerry', "Penguins", 'Dora', 'Tom & Jerry']
#We can convert the above list into a set by using type casting
cartoons_set=set(cartoons_list)
print(cartoons_set)

In [ ]:
#Set Operations
#Adding elemets in a set 
cartoons_set=set(cartoons_list)
print(cartoons_set)
cartoons_set.add('Batman')
print(cartoons_set)
print('\n')
#Delete elements of a set
cartoons_set.remove('Dora')
print(cartoons_set)
#Check whether an element is in a set
print('Dora'in cartoons_set)
print('Batman'in cartoons_set)

In [ ]:
#Intersection of 2 sets can be obtained by using '&'
cartoons_A={'Tom & Jerry', "Penguins", 'Dora', 'Spider Man'}
cartoons_B={'Tom & Jerry', "Penguins", 'Batman', 'Flash'}
print(cartoons_A&cartoons_B)
cartoons_C=cartoons_A&cartoons_B
print(cartoons_C)
print('\n')

#Union of 2 sets can be obtained by using '.union'
print(cartoons_A.union(cartoons_B))
print(cartoons_A.union(cartoons_B).union(cartoons_C))
print('\n')

#We can test if a set is a subset of another
cartoons_universe=cartoons_A.union(cartoons_B)
print(cartoons_universe.issubset(cartoons_A))
print(cartoons_A.issubset(cartoons_universe))

# Dictionaries

In [ ]:
#Dictionaries: Each entry contains 2 elements: A key and a value. The key & value pairs are enclosed in curly brackets
#Keys and their values are spearated by a collon ':'
#Keys are unique, and immutable. They behave like indexes in lists and tuples hence we can access a value based on its key
#Values are mutable and are not necessarily unique
#Key & value pairs are separated by a comma

topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
print(topic_marks)
print('\n')

#Using the keys as indexes
print('english score is ', topic_marks['eng'])

#Checking for existence of keys
print('geog'in topic_marks)
print('math'in topic_marks)

#Generating a list of all keys in a dictionary
print(topic_marks.keys())

#Generating a list of all values in a dictionary
print(topic_marks.values())

In [ ]:
#Adding entries into Dictionaries
topic_marks={'kis':85,'eng':80, 'math':95, 'sci':87}
topic_marks['agric']=75
print(topic_marks)

#Deleting entries into Dictionaries
del(topic_marks['eng'])
print(topic_marks)

# If, Else, Elif, Pass

In [ ]:
release_year=1950
if release_year<1980:
    print(release_year)
elif release_year==1991:
    print(release_year)
elif release_year==1993:
    print(release_year)
else:
    pass

In [ ]:
answer=input("Motor cycles have 2 wheels, True or False? ")
if answer.lower()=='true' or answer.lower()=='false':
    if answer.lower()=='true':
        print("You are Correct")
    else:
        print("You are Wrong")
else:
    print("Try and again, input either 'True' or 'False'")

In [ ]:
x = 3
y = "6" 

# get_diff takes an int and a str
def get_diff(xint, ystr):
    return int(ystr)-xint
    

if y.isdigit() == False:
    print('"y" is not an integer string')
elif get_diff(x,y) == 0:
    print('x equal to y')
else:
    print('x is NOT equal to y')

In [ ]:
size_num = "8 9 10"

size = "8" # user input

if size.isdigit() == False:
    print("Invalid: size should only use digits")
elif int(size) < 8:
    print("size is too low")
elif size in size_num:
    print("size is recorded")
else:
    print("size is too high")

In [ ]:
price_per_kg=20.0
purchase=input('Enter weight of desired purchase in kgs ')

if type(float(purchase))!=float:
    print("Enter weight of desired purchase in digits only")
elif float(purchase)<1:
    print('Sorry, your desired purchase of', purchase, 'kgs of cheese is below our minimum order of 1kg.\nWould you like to change your order tom more than 1kg?')
elif float(purchase)>100:
    print('Sorry, your desired purchase of', purchase, 'kgs of cheese is more than our current stock of 100kgs.\nWould you like to change your order to 100kgs?')
else:
    print('The cost of',purchase,'kgs of cheese is $', float(purchase)*price_per_kg)

In [ ]:
price_per_kg=20.0
purchase=input('Enter weight of desired purchase in kgs in digits only ')

if float(purchase)<1:
    print('Sorry, your desired purchase of', purchase, 'kgs of cheese is below our minimum order of 1kg.\nWould you like to change your order tom more than 1kg?')
elif float(purchase)>100:
          print('Sorry, your desired purchase of', purchase, 'kgs of cheese is more than our current stock of 100kgs.\nWould you like to change your order to 100kgs?')
elif float(purchase)>1 and float(purchase)<100:
    print('The cost of',purchase,'kgs of cheese is $', float(purchase)*price_per_kg)
else:
    print("Enter weight of desired purchase in digits only")

In [ ]:
print('\"What\'s that?\" isn\'t a specific question')

# Range

In [ ]:
#range(n) if n is a +ve interger the function outputs a list containig n intergers starting from zero upto interger n-1
numbers=range(5)
print(numbers[0], numbers[1], numbers[2], numbers[3], numbers[4])

In [ ]:
#range(a,b) if a & b is a +ve intergers and a<b, the function outputs a list containig b-a intergers starting from a upto b-1
numbers=range(10,15)
print(numbers[0], numbers[1], numbers[2], numbers[3], numbers[4])

# For Loops
They run a sequence of operations a set number of times

In [ ]:
#Prints elements in the list
#Uses range function to determine number of iterations needed to accomplish
A=[1,2,3,4,5]
for i in range(len(A)):
    print(A[i])

In [ ]:
#Prints elements in the list
A=[1,2,3,4,5]
for a in A:
    print(a)

In [ ]:
#Prints index and corresponding element
A=[1,2,3,4,5]
for i, a in enumerate(A):
    print(i, a)

In [ ]:
#Prints index and corresponding element in tuples
A=[1,2,3,4,5]
for i in enumerate(A):
    print(i)

In [ ]:
#For loops
old_car_fuel_level=[0.0,0.5,0.75,0.25,0.1,0.2]

#printing the tuples in object directly
for levels in enumerate(old_car_fuel_level):
    print(levels)
print('\n')

#changing index and printing separately
for count, levels in enumerate(old_car_fuel_level,10):
    print(count,levels)

In [ ]:
#For loops
#We have a pool of cars and the list below indicates the tank levels

old_car_fuel_level=[0.00,0.50,0.75,0.25,0.10,0.20]

#We are refuelling all vehicles to a level of 1
#We first create two empty lists for new fuel levels and refuelling requirement

new_car_fuel_level=[]
car_refuelling_Level=[]

#We then use the extend() function to add elements to our empty lists

for i in range(len(old_car_fuel_level)):
    new_car_fuel_level.extend([1.0])
    car_refuelling_Level.extend([new_car_fuel_level[i]-old_car_fuel_level[i]])


print('Initial fuel levels:\t',old_car_fuel_level)
print('Re-fueling requirement:\t',car_refuelling_Level)
print('New fuel levels:\t',new_car_fuel_level)

# While Loops
The loop runs as long us a condition is met. Because of this they are capable of running for perpetuity.
Such a loop can only be broken by the condition not being met or by including a break function in the code

In [ ]:
while True:
    print('write forever, unless there is a "break"')
    break

In [ ]:
#While loops
old_car_fuel_level=[0.0,0.5,0.75,0.25,0.05,0.2]
old_car_fuel_level.sort()

desired_car_fuel_level=[]
fueling_requirement=[]
total_fuel_requirement=0
fuel_reserves=4.5

new_car_fuel_level=old_car_fuel_level[:]


for i in range(len(old_car_fuel_level)):
    desired_car_fuel_level.extend([1.00])
    fueling_requirement.extend([0.00])
    fueling_requirement[i]= desired_car_fuel_level[i]-old_car_fuel_level[i]
    total_fuel_requirement=fueling_requirement[i]+total_fuel_requirement

print('Cumulative fuel requirement:\t',total_fuel_requirement,'ltrs')
#We want to top up the vehicles but our reserves holds only 3.5litres
#Once we exhaust the 3.5 litres we stop refuelling

i=0
while fuel_reserves>0 and i<=len(old_car_fuel_level)-1:
    new_car_fuel_level[i]=old_car_fuel_level[i]+min(fueling_requirement[i],fuel_reserves)
    fuel_reserves=fuel_reserves-min(fueling_requirement[i],fuel_reserves)
    
    i=i+1
    

print('Initial fuel levels:\t',old_car_fuel_level)
print('Desired fuel levels:\t',desired_car_fuel_level)
print('Fueling requirement:\t',fueling_requirement)
print('New fuel levels:\t',new_car_fuel_level)
print(fuel_reserves)

## Incrementing a Variable

In [ ]:
#increment i by n=1 to a max of 5
n=1
i=0
max_i=5
while i<=max_i-n:
    print(i)
    i=i+n
    
    if i>=max_i:
        print(i)
        print('We cannot increment past', max_i)
        break

In [ ]:
#increment i by n=1 to a max of 5
n=1
i=0
max_i=5

while i<=max_i-n:
    print(i)
    i+=n
    
    if i>=max_i:
        print(i)
        print('We cannot increment past', max_i)
        break

In [ ]:
#increment i by n=5 to a max of 20
n=5
i=0
max_i=20
while i<=max_i-n:
    print(i)
    i=i+n
    
    if i>=max_i:
        print(i)
        print('We cannot increment past', max_i)
        break

In [ ]:
#increment i by n=5 to a max of 20
n=5
i=0
max_i=20
while i<=max_i-n:
    print(i)
    i+=n
    
    if i>=max_i:
        print(i)
        print('We cannot increment past', max_i)
        break

In [ ]:
#Using breaks
#increment of n
n=2
i=0
max_i=15

while True:
    print(i)
    i+=n
    
    if i>=max_i-n:
        print(i)
        print('We cannot increment past', max_i)
        break

## Deacrements

In [ ]:
#Deacrement i by n=1 to a min of 0
n=2
i=10
min_i=0

while i>=min_i+n:
    print(i)
    i=i-n
    
    if i<=min_i:
        print(i)
        print('We cannot deacrement below', min_i)
        break

In [ ]:
#Deacrements of n
#Using breaks
n=2
i=10
min_i=0

while True:
    print(i)
    i-=n
    
    if i<=min_i:
        print(i)
        print('We cannot dearement below', min_i)
        break

# Creating Functions
We use 'def' to create functions. Once we have created a function. We set the inputs of the function.
The function cannot start with a number
You can document/add comments to a function by using tripple quotes
To display function documentation use the help() function

In [ ]:
#Lets create a function with y as the output and x as the input. f(x) is the function
# y=f(x)=x+5

def f(x):
    """y=f(x)=x+5"""
    y=x+5
    print('x=',x,',y=x+5=',y)
    return y

y_1=f(5)
y_2=f(10)
y_3=f(15)

help(f)

In [ ]:
#The dunctions can take up multiple inputs
# z=f(x,y)=a+b*x+c*y

def f(x,y):
    '''z=f(x,y)=a+b*x+c*y'''
    z=5+3*x+2.5*y
    print('x=',x,',y=',y,',z=5+3*x+2.5*y=',z)
    return z

z_0=f(0,0)
z_1=f(1,0)
z_2=f(0,1)
z_2=f(3,5)

help(f)

In [ ]:
#The function below does not take in any input, hence does not require the 'return' function

def birthday_diet():
    print('Happy birthday to Florence and Gale, the birthday menu includes: '+menu+'.')
birthday_diet()

In [ ]:
#The input is provided within the function thus return function is not needed
def add_num(x = 11):
    print(x + x)
add_num()

In [ ]:
def add_num(x = 10):
    print(x, x)
    
add_num()

In [ ]:
def amplify(message):
    tripple=3*message 
    return 

full_instruction=amplify("Run! ")
print(full_instruction)

In [ ]:
def half_value(value):
    half=value/2
    print('half of',value, 'is', half)
    return half

half_1=half_value(42.0)

In [ ]:
def make_schedule(period1, period2):
    schedule = ("[1st] " + period1.title() + ", [2nd] " + period2.title())
    return schedule

schedule_1= make_schedule("mathematics", "history")
print("SCHEDULE:", schedule_1)

In [ ]:
def fish_store(fish):
    price=price_list[fish.lower()]
    return price

price_list={'tuna':80, 'nile perch':10, 'sardine':50}
fish=input('Enter fish name ')
fish_price=fish_store(fish.lower())
print('The price of '+ fish.lower()+ ' is $'+str(fish_price))

print('nile' in price_list.keys())

In [ ]:
report=[]

def add_report(report):
    if sales.lower()=='quit':
        total=sum(report)
        return total
    else:
        pass

while True:
    sales=input('enter purchase')
    
    if sales.isdigit()==True:
        report+=[int(sales)]
    
    elif sales.lower()=='quit':
        client_total=add_report(report)
        print(report)
        print(client_total)
        break
    
    else:
        pass

In [ ]:
report=[]

def add_report(report):
    if sales.lower()=='quit':
        total=sum(report)
        return total
    else:
        pass

while True:
    sales=input('enter purchase')
    
    if sales.isdigit()==True:
        report+=[int(sales)]
    
    elif sales.lower()=='quit':
        while True:
            invoice_type=input('Enter either \'All\' or \'Total\'' )
            if invoice_type.lower()=='all':
                print("Items")
                for i in report:
                    print(i)
                break
            elif invoice_type.lower()=='total':
                break
            else:
                pass
                
        client_total=add_report(report)
        print('Total Purchase: ',client_total)
        break
    
    else:
        pass

In [ ]:
def str_analysis(str):
    if str.isalnum()==False:
        print('You have inputed','multiple character types')
    elif str.isalpha()==True:
        print('Your input', 'is all alphabetical')
    elif str.isdigit()==True:
        str=int(str)
        if str>100:
            print('Your input is a', 'big number')
        else:
            print('Your input is a', 'small number')
    else:
        pass

while True:
    str=input('Enter either a word or an interger: ')
    if str=="":
        str=input('Enter either a word or an interger: ')
    else:
        str_1=str_analysis(str)
        break

In [ ]:
a=1

def add(b):
    return a+b

c=add(10)
print(c)

In [ ]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

A variable defined within a function is not accessible outside of the function
'global' allows us to convert a variable defined in the scope of a function from a local scope to a global scope i.e. accessibel outside of the function

In [ ]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

## Classes & Objects

In [ ]:
class car(object):
    def __init__(self,make,model,colour):
        self.make=make;
        self.model=model;
        self.colour=colour;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("colour:",self.colour)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

dir(car)

In [ ]:
#The order matters unless we specify the variable being entered
car1=car('vw', 'Passat', 'blue')
print(car1.car_info(),'\n')

car2=car(colour="pink",make="BMW",model="3Series")
print(car2.car_info())

In [ ]:
#You can change attributes
print(car1.model)
car1.model='Beetle'
print(car1.car_info())

In [ ]:
#Apply a function defined in the class() function
car1.sell()
print(car1.car_info())

car1.sell()
print(car1.car_info())

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

class circle(object):
    def __init__(self, radius, colour):
        self.radius=radius;
        self.colour=colour;
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    def drawcircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.colour))
        plt.axis('scaled')
        plt.show()  

circle1=circle(10,'maroon')
circle1.drawcircle()

In [ ]:
class Rectangle(object):
    # Constructor
    def __init__(self, width=2, height=3, color='r'):
        self.height=height
        self.width=width
        self.color=color
    
    # Method
    def drawRectangle(self):
        plt.gca().add_patch(plt.Rectangle((0, 0), self.width, self.height ,fc=self.color))
        plt.axis('scaled')
        plt.show()

In [ ]:
SkinnyBlueRectangle = Rectangle(5, 10, 'blue')
SkinnyBlueRectangle.drawRectangle()

In [ ]:
FatYellowRectangle = Rectangle(20, 5, 'yellow')
FatYellowRectangle.drawRectangle()

In [26]:
#Retain all words that start after g
phrase='Wheresoever you go, go with all your heart'
phrase=phrase.lower()

words=phrase.split(' ')
print(words)

words_retained=[]

for i in range(len(words)):
    if words[i]>'gz':
        words_retained+=[words[i]]
    
    else:
        pass
print(words_retained)

['wheresoever', 'you', 'go,', 'go', 'with', 'all', 'your', 'heart']
['wheresoever', 'you', 'with', 'your', 'heart']

## Manipulating Files
<p>
    We use the <code>open()</code> function to:<ul>
        <li>Create new files;</li>
        <li>Overwrite(existing files);</li>
        <li>read existing files; and</li>
        <li>write (edit) existing files</li>.
</ul>The code works by creating a file object. Once a fileobject has been created, it can be called and the file corresponding to it can be utilised in Python.<ul>
    </ul><code>file_object=open(file_path,mode)</code><ul>
</ul>To use the <code>open(file_path,mode)</code>, we need to specify the file path and the mode:<ul>
        <li>File path: Consists of two parts:<ul>
            <li>file directory:Lets us know the location of the file</li>
            <li>file name: This is the name of the file</li>
            </ul><ul>
            </ul><ul>
            </ul><li>mode: The mode determines what the open function does to the file</li><ul>
    <li><b>w</b>: Allows python you to create a new file or write over an existing file</li><ul>
    <code>file_object=open(file_path,'w')</code>
    </ul><li><b>r</b>: Allows python to read contents of a file</li><ul>
    <code>file_object=open(file_path,'r')</code>
    </ul><li><b>a</b>: Allows python to add information to a file</li><ul>
    <code>file_object=open(file_path,'a')</code>
    </ul></ul></ul></p>

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/ReadOpen.png" width="500" />            

<p>
    Once we have created a file object and the file is in read mode, we easily check its attributes:<ul>
    <li><code>file_object.name</code>: Outputs the file path</li>
    <li><code>file_object.mode</code>: Outputs the mode of the <code>open()</code> function</li>
</ul></p>
<p>We can also:<ul>
    <li>Read file contents by using the <code>.read()</code> function. This function will output the entire files contents.<li/>
    
        
        <code>file_object.read()</code>
    
    </p>
        

<p>
    After using the <code>open()</code> function to manipulate a file we close the  file by using the <code>.close()</code> function as shown below:<ul>
        <ul>
        <code>file_object.close()</code>
            </ul>We can also check if a file has been closed by using the Boolean file function:<ul>
    <code>file_object.closed</code>
</ul>Its tedious to continously do this, thus its preferable to incorporate an

### Reading Files
<p>
    We can output file content by using the <code>.read()</code> function:<ul>
        <code>file_object.read()</code>
        </ul>We can also assign this output to a variable:<ul>
    <code>file_content=file_object.read()</code><ul>
    </ul><ul>
</p>

In [50]:
example1 = r"C:\Users\Kevin Matagaro\Documents\test.txt"
file1 = open(example1, "r")
file1.read()

'This is line 1\nThis is line 2\nThis is line 3\nfjas'

In [49]:
print(file1.name)
print(file1.mode)

C:\Users\Kevin Matagaro\Documents\test.txt
r

In [46]:
file1.close

<hr>